@@include('src/template/include/_head.html')
</head>

<body>

    @@include('src/template/include/_header.html')

    <div class="sub board_list">
        @@include('src/template/include/about/_sub_top.html', {
            "title": "공지사항",
            "sub_title": "인투라온에서 고객님께 알려드리는 안내사항입니다."
            })
        <div class="container box">
            <!-- <h3><i class="icon-34"></i>공지사항</h3> -->
            <div class="top-bar"></div>
            <ul class="list">
                <li>
                    <a href="../view/notice/1550.html">
                        <p class="title"><i class="icon-37"></i>[알림] 객실정비 품질 향상 및 개선 안내</p>
                        <p class="info">
                            <span><i class="icon-36"></i>2019-06-28 18:20:00</span>
                            <span><i class="icon-35"></i>85</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="../view/notice/1549.html">
                        <p class="title"><i class="icon-37"></i>[알림] 인투라온호텔 5층 수영장 오픈안내</p>
                        <p class="info">
                            <span><i class="icon-36"></i>2019-06-14 09:24:07</span>
                            <span><i class="icon-35"></i>251</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="../view/notice/1541.html">
                        <p class="title"><i class="icon-37"></i>인투라온호텔, 경포아쿠아리움과의 제휴</p>
                        <p class="info">
                            <span><i class="icon-36"></i>2019-03-03 14:17:52</span>
                            <span><i class="icon-35"></i>3440</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="../view/notice/1520.html">
                        <p class="title"><i class="icon-37"></i>인투라온호텔강릉의 강릉거주민 특별 혜택</p>
                        <p class="info">
                            <span><i class="icon-36"></i>2019-01-16 17:24:20</span>
                            <span><i class="icon-35"></i>1011</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="../view/notice/1514.html">
                        <p class="title"><i class="icon-37"></i>[공지] 밸류플레이트 휴장안내</p>
                        <p class="info">
                            <span><i class="icon-36"></i>2019-01-11 12:28:32</span>
                            <span><i class="icon-35"></i>1404</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="../view/notice/1483.html">
                        <p class="title"><i class="icon-37"></i>[공지] 수영장 폐장</p>
                        <p class="info">
                            <span><i class="icon-36"></i>2018-09-19 14:01:28</span>
                            <span><i class="icon-35"></i>4530</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="../view/notice/1379.html">
                        <p class="title"><i class="icon-37"></i>[공지] 수영장 이용 안내 문의</p>
                        <p class="info">
                            <span><i class="icon-36"></i>2018-05-24 20:45:01</span>
                            <span><i class="icon-35"></i>9806</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="../view/notice/1030.html">
                        <p class="title"><i class="icon-37"></i>[알림] 공식 홈페이지 오픈</p>
                        <p class="info">
                            <span><i class="icon-36"></i>2017-12-15 16:23:10</span>
                            <span><i class="icon-35"></i>1519</span>
                        </p>
                    </a>
                </li>
                <!-- <li>
                    <a href="../view/notice/1506.html">
                        <p class="title"><i class="icon-37"></i>2019년 새해 福 인사</p>
                        <p class="info">
                            <span><i class="icon-36"></i>2018-12-21 17:31:55</span>
                            <span><i class="icon-35"></i>901</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="../view/notice/1352.html">
                        <p class="title"><i class="icon-37"></i>[홈페이지 예약] 96시간의 타임세일 (5/14~5/17, 주중 투숙)</p>
                        <p class="info">
                            <span><i class="icon-36"></i>2018-05-14 18:18:26</span>
                            <span><i class="icon-35"></i>2363</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="../view/notice/1082.html">
                        <p class="title"><i class="icon-37"></i>[알림] 공식 페이스북 오픈</p>
                        <p class="info">
                            <span><i class="icon-36"></i>2018-01-04 17:54:54</span>
                            <span><i class="icon-35"></i>1408</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="../view/notice/1030.html">
                        <p class="title"><i class="icon-37"></i>[알림] 공식 홈페이지 오픈</p>
                        <p class="info">
                            <span><i class="icon-36"></i>2017-12-15 16:23:10</span>
                            <span><i class="icon-35"></i>1519</span>
                        </p>
                    </a>
                </li> -->
            </ul>
            <div class="page_box">
            </div>
        </div>
    </div>

    @@include('src/template/include/_footer.html')
</body>

</html>