.side-wrap-right{
    position: fixed;
    display: block;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    .side-area{
        position: absolute;
        top: 142px;
        width: 112px;
        left: 540px;
        .bn-area{
            a{
                display: block;
            }
        }
    }
}