[{
    "imgPath":"arari.jpg",
    "name":"정선아리랑극 상설공연 '아리 아라리' 2020",
    "period":"2020년 04월 17일 ~ 11월 27일 (매월 2,7일)",
    "host":"정선군",
    "place":"아리랑센터 아리랑홀",
    "remark":"▷자세히 보기",
    "href":"http://www.jacf.or.kr/bbs/board.php?bo_table=sub1_1&wr_id=136&sca=%EA%B3%B5%EC%97%B0",
    "text":
        "유네스코 문화유산이자 강원 무형문화재 제1호인 정선아리랑에 역동과 해학으로 만든 뮤지컬입니다.<br>2018년 초연을 시작으로 2018년 1만 6,000여 명, 2019년 1만 9,000여 명의 관람객을 유치해 정선을 대표하는 문화콘텐츠로 자리 잡았습니다.<br>공연은 성황을 이루어 전 관람석이 모두 매진되면서 관람객들의 큰 호응을 얻었습니다."
},
{
    "imgPath":"arirang.jpg",
    "name":"정선아리랑제 2020",
    "period":"2020년 06월 13일 ~ 11월 14일 (매주 토요일)",
    "host":"강원도, 정선군, 정선아리랑제위원회",
    "place":"강원도 정선군 정선읍 봉양리 112",
    "remark":"▷자세히보기",
    "href":"http://www.arirangfestival.kr",
    "text":
        "세계인이 참여하고 즐기는 아리랑 대축제<br>정선아리랑은 전국 모든 아리랑의 시원이며, 아리랑 중 유일하게 무형문화재로 지정된 전통 토속민요입니다.<br>2012년 12월 5일 유네스코 인류무형문화유산으로 등재되었습니다.<br>정선이 준비한 전통문화의 대향연에 여러분을 초대합니다."
}]