<div class="evt-item">
    <div class="bxBox">
        <ul class="bxS fnBxSlider">
            <li class="li-1"><img src="http://img.intoraon.co.kr/event/@@imgPath" alt="이벤트"></li>
            <li class="li-2">
                <img src="http://img.intoraon.co.kr/event/@@imgPath" alt="이벤트">
                <div class="evt-bx-box">
                    <div class="evt-txt-box">
                        <div class="evt-txt-container">
                            <p class="evt-bx-tit">@@name</p>
                            <p class="evt-bx-txt">
                                @@text
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="evt-tb-box">
        <ul class="evt-tb cf">
            <li class="nth-1 t-full">
                <p class="p-lbl">행사명</p>
                <p class="p-txt">@@name</p>
            </li>
            <li class="nth-2 t-half">
                <p class="p-lbl">일정</p>
                <p class="p-txt">@@period</p>
            </li>
            <li class="nth-3 t-half">
                <p class="p-lbl">주최</p>
                <p class="p-txt">@@host</p>
            </li>
            <li class="nth-4 t-half">
                <p class="p-lbl">장소</p>
                <p class="p-txt">@@place</p>
            </li>
            <li class="nth-5 t-half">
                <p class="p-lbl">추가정보</p>
                <p class="p-txt"><a href="@@href" target="_blank" title="새창 열림" rel="noopener noreferrer">@@remark</a></p>
            </li>
        </ul>
    </div>
</div>