@@include('src/template/include/_head.html')

<link rel="stylesheet" type="text/css" href="http://static.intoraon.co.kr/css/event/init.css">
<!-- <link rel="stylesheet" type="text/css" href="/static/css/event/init.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">

<link href="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/static/css/jquery.bxslider.css" rel="stylesheet" />
</head>

<body>

    @@include('src/template/include/_header.html')


    <div class="contents event-contents">
        <div class="sub">
            <div class="sub_top_menu">
                <h4 class="page_title">이벤트/축제</h4>
                <h6 class="page_sub_title">솔향, 바다향, 커피향 가득한 강릉 주변 관광명소는 물론<br class="hidden-mdlg"> 지역 이벤트, 축제에서 즐거운 시간을 함께하세요.</h6>
            </div>
        </div>

        <div class="sub evt_box container">
            <div class="sub_item_box">
                <div class="sub_item_wrap">
                    <div class="event-room">
                        <div class="event-room-area">
                            <a href="http://intoraon.co.kr/reserve/?package=so" class="event-main">
                                <img src="http://img.intoraon.co.kr/event_pop/event_room_detail.jpg" alt="이벤트">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('src/template/include/_footer.html')
</body>

</html>