<div class="event_pop" style="display: block;">
    <div class="top">
        <label><input type="checkbox" /> 12시간 동안 보지않기</label>
        <button type="button"><i class="icon-29"></i></button>
    </div>
    <div class="pop">
        <div class="slider_container pop">
            <div data-u="slides" class="slides">
                <div>
                    <!-- <a href="http://seabay.co.kr/facilities/?r=swimmingpool_infinite"><img data-u="image" class="slide-img" src="http://img.seabay.co.kr/svc/fil/Board/1500/477503d947581c7ee978d70c3b617eb5.jpg" title="수영장 안내" /></a> -->
                    <!-- <img data-u="image" class="slide-img" src="http://img.hotelairsky.co.kr/svc/img/event/2020_bf.jpg" title="수영장 안내" /> -->
                    <img data-u="image" class="slide-img" src="http://img.hotelairsky.co.kr/svc/img/event/ondol.jpg" title="수영장 안내" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <span u="arrowleft" class="jssor-sprite arow-left" style="width: 21px; height: 32px; top: 200px; left: 20px;"></span>
<span u="arrowright" class="jssor-sprite arow-right" style="width: 21px; height: 32px; top: 200px; right: 20px"></span> -->