<div class="popup-event">
    <div class="popup-box">
        <a class="pop-url-pc" target="_blank" href="https://tour.wd.wemakeprice.com/activity/direct/detail/GD200000000077206">
            <img src="http://img.hotelairsky.co.kr/svc/img/event/wemake_hotprice.png" alt="">
        </a>
        <a class="pop-url-mobile" target="_blank" href="https://mtour.wd.wemakeprice.com/activity/direct/detail/GD200000000077206">
            <img src="http://img.hotelairsky.co.kr/svc/img/event/wemake_hotprice.png" alt="">
        </a>
    </div>
    <div class="btn-pop-close-box">
        <button class="btn-pop-close" type="button">X</button>
    </div>
    <!-- <div class="btn-pop-control">
        <button type="button">닫기</button>
    </div> -->
</div>
<script>
    $(".btn-pop-close").on('click', function(){
        $(".popup-event").css("display","none");
    });
</script>