/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('NanumGothic-Regular.eot');
  src: url('NanumGothic-Regulard41d.eot?#iefix') format('embedded-opentype'),
       url('NanumGothic-Regular.html') format('woff2'),
       url('NanumGothic-Regular.woff') format('woff'),
       url('NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('http://www.valuehotelgangneung.com/common/font/nanumgothic/NanumGothic-Bold.eot');
  src: url('http://www.valuehotelgangneung.com/common/font/nanumgothic/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
       url('http://www.valuehotelgangneung.com/common/font/nanumgothic/NanumGothic-Bold.woff2') format('woff2'),
       url('http://www.valuehotelgangneung.com/common/font/nanumgothic/NanumGothic-Bold.woff') format('woff'),
       url('http://www.valuehotelgangneung.com/common/font/nanumgothic/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('http://www.valuehotelgangneung.com/common/font/nanumgothic/NanumGothic-ExtraBold.eot');
  src: url('http://www.valuehotelgangneung.com/common/font/nanumgothic/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('http://www.valuehotelgangneung.com/common/font/nanumgothic/NanumGothic-ExtraBold.woff2') format('woff2'),
       url('http://www.valuehotelgangneung.com/common/font/nanumgothic/NanumGothic-ExtraBold.woff') format('woff'),
       url('http://www.valuehotelgangneung.com/common/font/nanumgothic/NanumGothic-ExtraBold.ttf') format('truetype');
}