<div class="amenitys">
    <!-- <div class="amenity_box">
        <i class="amenity-RB002 tooltip" title="커피/티"></i>
        <p>커피/티</p>
    </div> -->
    <div class="amenity_box">
        <i class="amenity-ZE002 tooltip" title="생수2병무료"></i>
        <p>생수2병무료</p>
    </div>
    <div class="amenity_box">
        <i class="amenity-ZD001 tooltip" title="USB충전단자"></i>
        <p>USB충전단자</p>
    </div>
    <div class="amenity_box">
        <i class="amenity-KB002 tooltip" title="개별냉난방"></i>
        <p>개별냉난방</p>
    </div>
    <div class="amenity_box">
        <i class="amenity-MC001 tooltip" title="오리/거위털 이불"></i>
        <p>오리/거위털 이불</p>
    </div>
    <div class="amenity_box">
        <i class="amenity-LC001 tooltip" title="무료 WIFI"></i>
        <p>무료 WIFI</p>
    </div>
    <div class="amenity_box">
        <i class="amenity-CC001 tooltip" title="객실 내 온도 조절기"></i>
        <p>객실 내 온도 조절기</p>
    </div>
    <!-- <div class="amenity_box">
        <i class="amenity-XB001 tooltip" title="객실금고"></i>
        <p>객실금고</p>
    </div> -->
    <!-- <div class="amenity_box">
        <img src="http://img.hotelairsky.co.kr/svc/img/icon/ico_balcony.png" alt="발코니">
        <p>발코니</p>
    </div> -->
    <div class="amenity_box">
        <img src="http://img.hotelairsky.co.kr/svc/img/icon/ico_coffeeport.png" alt="커피포트">
        <p>커피포트</p>
    </div>
    <div class="amenity_box">
        <img src="http://img.hotelairsky.co.kr/svc/img/icon/ico_bidet.png" alt="비데">
        <p>비데설치</p>
    </div>
</div>