<div class="description">
    <div class="title">
        <h5>ROOM FACILITIES</h5>
    </div>
    <div class="cont">
        <ul class="c_list">
            <li>어메니티 : 샴푸, 바디워시, 컨디셔너, 로션, 빗, 칫솔, 면도기</li>
            <li>LED TV(49인치)</li>
            <li>비데</li>
            <li>전기포트</li>
            <li>냉장고</li>
            <li>WiFi Free(무선인터넷 무료)</li>
            <li>생수 2병, 커피·녹차 티백 제공</li>
            <li>코튼 가운 (면 100%)</li>
            <li>슬리퍼</li>
            <li>쇼파 일체</li>
            <li>세이프티박스(개인금고)</li>
            <li>헤어드라이기</li>
        </ul>
    </div>
</div>