<div class="sub_top_menu">
    <h4 class="page_title">@@title</h4>
    <h6 class="page_sub_title">@@sub_title</h6>
    <!-- menu_item 해당 페이지 active 클래스 추가 -->
    <ul class="menu_wrap container">
        <li class="menu_item"><a href="royal_su.html">로얄 스위트</a></li>
        <li class="menu_item"><a href="executive_su.html">이그제큐티브 스위트</a></li>
        <li class="menu_item"><a href="junior_su.html">패밀리 스위트</a></li>
        <li class="menu_item"><a href="pr_fm.html">프리미어 패밀리</a></li>
        <li class="menu_item"><a href="dx_db.html">디럭스 더블</a></li>
        <li class="menu_item"><a href="dx_tw.html">디럭스 트윈</a></li>
        
    </ul>
    <ul class="menu_wrap container">
        <li class="menu_item"><a href="dx_fm_tw.html">디럭스 패밀리 트윈</a></li>
        <li class="menu_item"><a href="dx_fm_quad.html">디럭스 패밀리 쿼드</a></li>
        <li class="menu_item"><a href="dx_ondol.html">디럭스 온돌</a></li>
        <li class="menu_item"><a href="sp_tw.html">슈페리어 트윈</a></li>
        <li class="menu_item"><a href="sp_db.html">슈페리어 더블</a></li>
    </ul>
</div>