@charset 'utf-8';
@import 'src/assets/sass/css/parts/common';

$fg-yellow: #fcff00;
$fg-sky: #99ffff;
$fg-group: #0e5fda;

$bg-group: #6d99da;
$bg-purple-01: #8c00b8;
$bg-purple-02: #9e1185;
$bg-pink: #e61c85;
$bg-blue: #5601b5;

.ld-contents {
    color: #555;
    background: #fff;

    * {
        font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;
    }

    h1,
    h2,
    h3,
    p,
    span {
        font-weight: 400;
        line-height: 1;
        letter-spacing: -1px;
        margin: 0;
        padding: 0;
    }

    figure {
        text-align: center;

        img {
            width: auto;
            max-width: 100%;
        }
    }

    .sect {
        .txt {
            font-size: 22px;
            line-height: 1.4;
            word-break: keep-all;
            color: #353d45;
        }

        //color
        .fg-yellow {
            color: $fg-yellow;
        }

        .fg-sky {
            color: $fg-sky;
        }

        .fw-bd {
            font-weight: bold;
        }
    }
}

/* 접수완료 레이어 팝업 */
.group-popup {
    z-index: 9999;
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);

    .popup-wrap {
        position: relative;
        max-width: 600px;
        margin: 0 auto;
        top: 50%;
        margin-top: -200px;
    }

    .popup-container {
        position: relative;
        box-sizing: border-box;
        padding: 25px 25px 35px;
        text-align: center;
        border: 1px solid #c5c5c5;
        background: #fff;

        .fc-yellow {
            color: #efab1a;
        }

        .popup-cust {
            padding: 5px 0 14px;
            border-bottom: 1px solid #c5c5c5;

            p {
                font-size: 24px;
                line-height: 35px;
                letter-spacing: -1px;
                color: #131313;
            }

            .f-bd {
                span {
                    font-size: 24px;
                    line-height: 35px;
                    font-weight: 400;
                }
            }

            .popup-txt {
                font-size: 20px;
            }

            .popup-txt.pd-tb {
                padding: 6px 0;
            }
        }

        .info-txt {
            padding: 15px 0 19px;
            font-size: 16px;
            line-height: 23px;
            color: #707070;
        }

        .btn-close {
            display: inline-block;
            min-width: 200px;
            height: 50px;
            font-size: 18px;
            line-height: 50px;
            font-weight: 400;
            color: #fff;
            background: #f75c07;
        }
    }
}


//피씨
@media (min-width: 992px) {
    .ld-contents {
        .sect {
            position: relative;
            box-sizing: border-box;

            .container {
                position: relative;
                box-sizing: border-box;
                width: 1000px;
                margin: 0 auto;
                padding: 0;
                text-align: center;

                @include clearfix;
            }


            //비주얼
            &.visual {
                padding: 67px 0 70px;
                background: url(http://img.hotelairsky.co.kr/svc/img/ld/ppt/visual/bg.png) no-repeat center;
                background-size: cover;
            }

            //탑배너
            &.banner {
                padding: 35px 0 36px;
                background: linear-gradient(to right, #9e1185, #5601b5);

                .box-txt {
                    $ht: 40px;
                    display: inline-block;
                    //width: 250px;
                    height: $ht;
                    padding: 0 30px;
                    font-size: 24px;
                    line-height: ($ht) - (2px);
                    letter-spacing: 3px;
                    font-weight: 100;
                    color: #fff;
                    border: 1px solid #fff;
                    border-radius: 20px;
                }

                .tit {
                    padding: 22px 0 10px;
                }

                .txt {
                    color: #fff;
                }
            }

            //우측배너 PC
            &.tab-banner {
                z-index: 50;
                text-align: right;

                .tab-list {
                    position: absolute;
                    top: 262px;
                    right: -150px;
                    margin-top: 0;

                    li {
                        margin-bottom: 10px;

                        a {
                            display: block;
                        }
                    }
                }

                &.on {
                    position: fixed;
                    top: 0;
                    left: 50%;
                    margin-left: -500px;
                }
            }

            //패키지
            &.pkg {
                padding: 79px 0 128px;
                background: #85eaff url(http://img.hotelairsky.co.kr/svc/img/ld/ppt/pkg/bg_pool.png) no-repeat top right;

                .tit {
                    padding: 0 0 21px;
                }

                .pkg-list {
                    li {
                        position: relative;
                        box-sizing: border-box;
                        padding-top: 30px;

                        .list-box {
                            position: relative;
                            box-sizing: border-box;
                            overflow: hidden;
                            border-radius: 30px;
                            @include clearfix;

                            .img-box {
                                float: left;
                                width: 700px;
                            }

                            .txt-box {
                                position: relative;
                                box-sizing: border-box;
                                float: right;
                                width: 300px;
                                height: 430px;
                                background: $bg-purple-01;

                                .pkg-tit {
                                    //position: absolute;
                                    margin: 45px 0 0 -14px;
                                    text-align: left;
                                }

                                .pkg-txt {
                                    padding: 25px 30px 0 25px;
                                    font-size: 22px;
                                    line-height: 1.3;
                                    letter-spacing: -1.6px;
                                    text-align: left;
                                    word-break: keep-all;
                                    color: #fff;

                                    .mt-10 {
                                        display: block;
                                        margin-top: 10px;
                                    }

                                    .dis-inbk {
                                        display: inline-block;
                                    }
                                }

                                .star {
                                    display: inline-block;
                                    margin: 38px auto 10px;

                                    &+.pkg-tit {
                                        margin: 0 auto;
                                        text-align: center;
                                    }
                                }
                            }
                        }

                        //배경 핑크에 텍스트가 좌측에 존재
                        &.chg {
                            .list-box {
                                .img-box {
                                    float: right;
                                }

                                .txt-box {
                                    float: left;
                                    background: $bg-pink;

                                    .pkg-txt {
                                        padding: 34px 15px 0 21px;
                                    }
                                }
                            }
                        }

                        //플러스
                        &.plus {
                            padding-top: 60px;

                            &:before {
                                $wt: 130px;

                                content: '';
                                z-index: 2;
                                @include pos(absolute, -35px, 50%);
                                display: block;
                                width: $wt;
                                height: $wt;
                                margin-left: -($wt/2);
                                background: url(http://img.hotelairsky.co.kr/svc/img/ld/ppt/pkg/img_plus.png) no-repeat center;
                            }
                        }
                    }
                }
            }

            //단체예약
            &.grpRest {
                padding: 106px 0 69px;
                background: url(http://img.hotelairsky.co.kr/svc/img/ld/ppt/grpRest/bg.png) no-repeat center;
                background-size: cover;
            }

            //예약하기
            &.rest {
                padding: 100px 0 138px;
                background: url(http://img.hotelairsky.co.kr/svc/img/ld/ppt/rest/bg.jpg) repeat center;

                .tit {
                    padding: 0 0 27px;
                }

                .txt {
                    color: #fff;

                    em {
                        font-size: 25px;
                    }
                }

                .rest-list {
                    margin: 0 -10px;
                    padding-top: 30px;

                    li {
                        float: left;
                        padding: 0 10px;

                        .list-box {
                            display: block;
                        }
                    }
                }
            }

            //시설안내
            &.facil {
                padding: 122px 0 80px;
                background: #fff;

                &:before {
                    content: '';
                    @include pos(absolute, -20px, 0);
                    display: block;
                    width: 100%;
                    height: 20px;
                    background: url(http://img.hotelairsky.co.kr/svc/img/ld/ppt/facil/bg.png) repeat-x;
                }

                .tit {
                    padding: 0 0 27px;
                }

                .facil-list {
                    li {
                        margin-top: 33px;

                        .img-box {
                            @include clearfix;

                            figure {
                                position: relative;
                                box-sizing: border-box;
                                float: right;
                                width: 495px;

                                &:first-child {
                                    float: left;
                                }
                            }
                        }

                        .txt-box {
                            p {
                                &.facil-list-tit {
                                    padding: 20px 0 8px;
                                    font-size: 28px;
                                    font-weight: bold;
                                    letter-spacing: -2px;
                                    color: #005cd0;
                                }

                                &.facil-list-txt {
                                    font-size: 20px;
                                    line-height: 1.3;
                                }
                            }
                        }
                    }
                }
            }

            //단체예약 Q&A
            &.group {
                //padding: 122px 0 80px;
                width: auto;
                background: #fff;

                * {
                    line-height: 1.5;
                    font-family: 'Open Sans', 'Nanum Gothic', 'NanumBarunGothic', 'NanumGothic', '나눔고딕', '맑은 고딕', 'Malgun Gothic', Dotum, sans-serif;
                }

                p {
                    padding: 0;
                    margin: 0;
                }

                .h2-tit {
                    letter-spacing: 0;
                    font-size: 28px;
                    color: #545454;
                    text-align: center;
                    font-weight: 400;

                    +.p0 {
                        letter-spacing: 0;
                        font-size: 16px;
                        text-align: center;
                        line-height: 1;
                        word-break: keep-all;
                        letter-spacing: 0;
                        margin-top: 15px;
                    }
                }

                //단체예약 Q&A
                .qna-sec {
                    position: relative;
                    margin: 0 auto;
                    padding: 35px 0;
                    border-top: 1px solid #b6b4b6;
                    background: #f9f9f9;
                    color: #474747;

                    .qna-list {
                        position: relative;
                        width: 860px;
                        margin: 25px auto 0;

                        @include clearfix;

                        >li {
                            position: relative;
                            border-bottom: 1px solid #ccc;
                            letter-spacing: -0.5px;

                            >div {
                                position: relative;
                                line-height: 1.5;
                                word-break: keep-all;
                                font-family: "Nanum Gothic", sans-serif;
                                padding: 12px 40px;
                            }

                            .f-q {
                                cursor: pointer;
                                padding-left: 55px;
                                padding-right: 54px;
                                font-size: 18px;

                                >p {
                                    margin: 0;
                                }

                                >* {
                                    display: inline-block;
                                }

                                .q-con {
                                    position: absolute;
                                    left: 20px;
                                    font-weight: 400;
                                }

                                .arr {
                                    position: absolute;
                                    right: 20px;
                                    top: 10px;

                                    &:after {
                                        top: -2px;
                                        border-color: #bbb;
                                        border-width: 2px;
                                        width: 12px;
                                        height: 12px;
                                    }
                                }
                            }

                            .f-a {
                                background: #fff;
                                height: 0;
                                padding: 0;
                                overflow: hidden;
                                font-size: 16px;
                                line-height: 1.6;
                            }
                        }

                        >li.on {
                            .f-q {
                                color: $bg-group;
                                font-weight: 400;

                                .arr {
                                    &:after {
                                        top: 3px;
                                        border-color: $bg-group;
                                        -webkit-transform: rotate(135deg);
                                        -ms-transform: rotate(135deg);
                                        -o-transform: rotate(135deg);
                                        transform: rotate(135deg);
                                    }
                                }
                            }

                            .f-a {
                                padding: 12px 40px;
                                height: auto;
                                border-top: 1px solid #eee;
                            }
                        }
                    }
                }

                //단체행사 상담 안내
                .etc-sec {
                    position: relative;
                    padding: 60px 0 45px;

                    p {
                        margin: 0;
                    }

                    .d-cm {
                        position: relative;
                        width: 1000px;
                        margin: 0 auto;
                        text-align: center;
                        line-height: 1.3;

                        .c-blue {
                            color: #005cd9;
                        }

                        .c-red {
                            color: #dc1e1e;
                        }

                        .p-0 {
                            font-size: 28px;
                            font-weight: 400;

                            +.p-1 {
                                font-size: 18px;
                            }
                        }

                        .p-1 {
                            font-size: 16px;
                            line-height: 1.5;
                            margin-top: 5px;
                        }

                        .area-btn {
                            font-size: 20px;
                            margin-top: 30px;

                            .a-btn {
                                position: relative;
                                display: inline-block;
                                width: 452px;
                                height: 60px;
                                background: $bg-group;
                                color: #fff;

                                &:after {
                                    content: "";
                                    display: inline-block;
                                    height: 105%;
                                    vertical-align: middle;
                                }

                                .ic-rArrow {
                                    &:after {
                                        border-color: #fff;
                                        width: 10px;
                                        height: 10px;
                                        top: -2px;
                                        left: 2px;
                                        margin-right: -15px;
                                    }
                                }
                            }
                        }

                        &+.d-cm {
                            margin: 35px auto 0;
                            padding-top: 35px;
                            border-top: 1px solid #dadada;
                        }
                    }

                    .d-box-1 {
                        .contact-pop {
                            width: 760px;
                            left: 50%;
                            margin-left: -380px;
                            top: 120px;
                            position: absolute;
                            z-index: 100;
                            background: #fff;
                            font-family: "Malgun Gothic", sans-serif;
                            box-sizing: border-box;
                            line-height: 1.3;

                            * {
                                box-sizing: border-box;
                                line-height: 1.3;
                            }

                            .d-tit {
                                p {
                                    position: relative;
                                    text-align: center;
                                    color: #fff;
                                    font-size: 26px;
                                    background: #D49F34;
                                    width: 480px;
                                    margin: 0 auto;
                                    height: 60px;
                                    line-height: 54px;
                                    top: -10px;
                                    letter-spacing: -2px;
                                }

                                .t-l {
                                    display: inline-block;
                                    position: absolute;
                                    top: 0;
                                    border: 24px solid transparent;
                                    border-bottom-width: 30px;
                                    border-top: 30px solid #D49F34;
                                    left: -48px;
                                    border-right: 24px solid #D49F34;

                                    &:before {
                                        content: "";
                                        position: absolute;
                                        top: -40px;
                                        display: inline-block;
                                        border: 10px solid transparent;
                                        border-bottom-color: #b18223;
                                        z-index: -1;
                                        left: -34px;
                                    }
                                }

                                .t-r {
                                    display: inline-block;
                                    position: absolute;
                                    top: 0;
                                    border: 24px solid transparent;
                                    border-bottom-width: 30px;
                                    border-top: 30px solid #D49F34;
                                    right: -48px;
                                    border-left: 24px solid #D49F34;

                                    &:before {
                                        content: "";
                                        position: absolute;
                                        top: -40px;
                                        display: inline-block;
                                        border: 10px solid transparent;
                                        border-bottom-color: #b18223;
                                        z-index: -1;
                                        right: -34px;
                                    }
                                }
                            }

                            .a-x {
                                top: 18px;
                                right: 16px;
                                width: 32px;
                                height: 30px;

                                &:before {
                                    width: 38px;
                                    height: 2px;
                                    background: #8f8f8f;
                                    top: 14px;
                                    right: -3px;
                                }

                                &:after {
                                    width: 38px;
                                    height: 2px;
                                    background: #8f8f8f;
                                    top: 14px;
                                    right: -3px;
                                }
                            }

                            .p-cf {
                                color: #191919;
                                font-size: 20px;
                                text-align: center;
                                letter-spacing: -1px;
                                margin-top: 10px;
                                line-height: 20px;

                                .pic-chk {
                                    position: relative;
                                    top: -2px;
                                }
                            }

                            .d-top {
                                position: relative;
                                width: 660px;
                                margin: 5px auto 0;
                                color: #676767;
                                height: 36px;
                                line-height: 31px;
                                font-size: 14px;
                                text-align: right;
                                letter-spacing: -1px;
                            }

                            .i-chk-bef,
                            .i-chk-aft {
                                &:before {
                                    content: "*";
                                    display: inline-block;
                                    color: #f00;
                                    position: relative;
                                    font-weight: 400;
                                    margin-right: 3px;
                                    vertical-align: middle;
                                    top: -2px;
                                    font-size: 14px;
                                }
                            }

                            .ul-tb {
                                position: relative;
                                width: 660px;
                                margin: 0 auto;
                                font-family: 'Nanum Gothic', sans-serif;
                            }

                            .nece {
                                border-bottom: 1px solid #8e929b;
                                border-top: 1px solid #dadada;
                            }

                            .li-tr {
                                &:first-child {
                                    border-top: 0;
                                }

                                position: relative;
                                padding: 10px 0px;
                                font-size: 0;
                                border-top: 1px solid #dadada;
                                letter-spacing: -0.5px;

                                >span,
                                >input,
                                >.mg-,
                                >select {
                                    vertical-align: middle;
                                }

                                >span {
                                    position: relative;
                                    display: inline-block;
                                    font-size: 16px;
                                    font-weight: 400;
                                    vertical-align: middle;
                                }

                                >span.ver-t {
                                    vertical-align: top;
                                    top: 10px;
                                }

                                .c-lightred {
                                    word-break: keep-all;
                                    margin-left: 72px;
                                    color: #ff0000;
                                }

                                .mg- {
                                    width: 10px;
                                    height: 1px;
                                    background: #787878;
                                    margin: 0 6px;
                                }

                                .mg-l {
                                    width: 1px;
                                    height: 26px;
                                    background: #a0a0a0;
                                    margin: 0 18px 0 2px;
                                    top: 1px;
                                }

                                .s-lbl {
                                    width: 74px;
                                    margin-left: 20px;

                                    &:first-child {
                                        margin-left: 0;
                                    }
                                }

                                .ml-1 {
                                    margin-left: 40px;
                                }

                                input {
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    -ms-appearance: none;
                                    -o-appearance: none;
                                    border-radius: 0;
                                    height: 28px;
                                    border: 1px solid #787878;
                                    font-size: 16px;
                                }

                                select {
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    -ms-appearance: none;
                                    -o-appearance: none;
                                    border-radius: 0;
                                    height: 28px;
                                    border: 1px solid #787878;
                                    font-size: 16px;
                                    outline: none;
                                    overflow: hidden;
                                    text-indent: 5px;
                                    text-overflow: '';
                                    background: url(http://img.ocean2you.co.kr/renew/group/i_dArr.png) no-repeat 174px 9px;

                                    &::-ms-expand {
                                        display: none;
                                    }
                                }

                                .wd-8 {
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    -ms-appearance: none;
                                    -o-appearance: none;
                                    border-radius: 0;
                                    width: 564px;
                                    height: 50px;
                                    padding: 3px;
                                    font-size: 12px;
                                    resize: none;
                                    border: 1px solid #787878;
                                }

                                .wd-1 {
                                    text-indent: 5px;
                                    width: 200px;
                                }

                                .wd-3 {
                                    text-indent: 5px;
                                    width: 365px;
                                }

                                .wd-4 {
                                    text-indent: 5px;
                                    width: 200px;

                                    + {
                                        select {
                                            top: 0px;
                                            position: relative;
                                            margin-left: 14px;
                                        }
                                    }
                                }

                                .wd-7 {
                                    text-indent: 5px;
                                    width: 204px;
                                    margin-right: 8px;
                                }

                                .wd-2 {
                                    text-align: center;
                                    width: 70px;
                                }

                                .wd-5 {
                                    text-align: center;
                                    margin-left: 12px;
                                    width: 58px;

                                    + {
                                        span {
                                            margin-left: 8px;
                                            margin-right: 20px;
                                        }
                                    }
                                }

                                .wd-6 {
                                    text-align: center;
                                    margin-left: 12px;
                                    width: 64px;

                                    + {
                                        span {
                                            margin-left: 8px;
                                            margin-right: 20px;
                                        }
                                    }
                                }
                            }

                            .area-btn {
                                margin-top: 12px;
                                padding: 0 10px;

                                >a {
                                    position: relative;
                                    display: block;
                                    width: 272px;
                                    margin: 0 auto;
                                    height: 58px;
                                    background: #D49F34;
                                    color: #fff;
                                    font-size: 18px;
                                    text-align: center;

                                    &:after {
                                        content: "";
                                        display: inline-block;
                                        height: 105%;
                                        vertical-align: middle;
                                    }

                                    .ic-rArrow {
                                        &:after {
                                            border-color: #fff;
                                            width: 9px;
                                            height: 9px;
                                            top: 1px;
                                            left: 32px;
                                            margin-right: -10px;
                                            border-width: 2px;
                                        }
                                    }
                                }
                            }

                            .d-bottom {
                                background: #8c8c8c;
                                color: #fff;
                                margin-top: 18px;
                                padding: 10px 20px 12px;

                                .p-1 {
                                    line-height: 1.3;
                                    font-size: 17px;
                                }

                                .fl-r {
                                    width: 260px;
                                    position: relative;
                                    top: -4px;
                                    float: right;
                                    color: #fff;

                                    >img {
                                        position: relative;
                                        top: -1px;
                                        width: 24px;
                                        margin-right: 8px;
                                    }
                                }
                            }
                        }

                        .contact-pop.type-2 {
                            position: relative;
                            top: 0;
                            text-align: left;
                            width: 100%;
                            left: auto;
                            margin-left: 0;
                        }
                    }

                    .d-box-2 {
                        padding-bottom: 30px;

                        .p-1 {
                            font-size: 16px;
                        }

                        .area-btn02 {
                            margin-top: 20px;

                            .a-btn {
                                display: inline;
                                font-size: 34px;
                                font-weight: 400;
                                background: 0;
                                cursor: default;
                                line-height: 1.5;

                                span {
                                    color: $bg-group;
                                }

                                >.txt {
                                    position: relative;
                                    top: -3px;
                                    color: #333;
                                    font-size: 21px;
                                    font-weight: 400;
                                }
                            }

                            .pic-call {
                                position: relative;
                                font-size: 36px;
                                top: -1px;
                            }
                        }

                        .area-txt {
                            font-size: 22px;
                            color: #545454;
                        }

                        .p-2 {
                            font-size: 28px;
                            font-weight: 400;
                            margin-top: 10px;
                            color: $bg-group;

                            .fa-envelope {
                                position: relative;
                                top: 2px;
                            }
                        }
                    }
                }
            }

            //버튼
            &.btn {
                padding-bottom: 20px;

                .btn-box {
                    position: relative;
                    @include clearfix;

                    .btn-link {
                        position: relative;
                        box-sizing: border-box;
                        display: table;
                        float: right;
                        width: 495px;
                        height: 115px;
                        border-radius: 10px;

                        span {
                            display: table-cell;
                            vertical-align: middle;
                            text-align: center;
                        }

                        &:first-child {
                            float: left;
                        }

                        &.btn-rest {
                            background: $bg-purple-02;
                        }

                        &.btn-pkg {
                            background: $bg-blue;
                        }
                    }
                }
            }
        }
    }
}


//모바일~태블릿
@media (max-width: 991px) {





    /* 접수완료 레이어 팝업 */
    .group-popup {
        .popup-wrap {
            max-width: 300px;
        }

        .popup-container {
            padding: 10px 10px 20px;

            .popup-cust {
                padding: 3px 0 7px;

                p {
                    font-size: 17px;
                    line-height: 24px;
                    word-break: keep-all;
                }

                .f-bd {
                    span {
                        font-size: 17px;
                        line-height: 24px;
                        font-weight: 400;
                    }
                }

                .popup-txt {
                    font-size: 14px;
                    line-height: 20px;
                }

                .popup-txt.pd-tb {
                    padding: 4px 0;
                }
            }

            .info-txt {
                padding: 7px 0 9px;
                font-size: 13px;
                line-height: 18px;
                word-break: keep-all;
            }

            .btn-close {
                min-width: 100px;
                height: 35px;
                font-size: 15px;
                line-height: 35px;
            }
        }
    }
}