@@include('src/template/include/_head.html')
</head>

<body>

    @@include('src/template/include/_header.html')

    <div class="restbar">
        @@include('src/template/include/dining/_sub_top.html', {
        "title": "아이리스홀",
        "sub_title": "모던하고 감각적인 분위기의 연회장은 기업, 가족모임, 돌잔치, 각종연회 등<br>개인적인 행사와 그룹 진행이 가능합니다."
        })

        <div class="sub container">
            <div class="sub_item_box">
                <div class="sub_item_wrap">
                    <div class="sub_item">
                        <div class="slick_slider">
                            <div class="icon-prev"><i class="icon-33"></i></div>
                            <div class="icon-next"><i class="icon-32"></i></div>
                            <div class="slick_basic">
                                <div><img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/dining/irishall/001.jpg" alt="아이리스홀사진"></div>
                                <div><img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/dining/irishall/002.jpg" alt="아이리스홀사진"></div>
                            </div>
                        </div>
                        <div class="item_info">
                            <div class="info_wrap">
                                <h5 class="info_title">위치안내</h5>
                                <div class="info_content">2층 연회장홀</div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">운영안내</h5>
                                <div class="info_content">빔프로젝터, 무선마이크 등 사용 가능</div>
                            </div>
                            @@include('src/template/dining/_tell.html')
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('src/template/include/_footer.html')
</body>

</html>