@@include('src/template/include/_head.html')
</head>

<body>

    @@include('src/template/include/_header.html')

    <div class="restbar">
        @@include('src/template/include/dining/_sub_top.html', {
        "title": "바바체 레스토랑",
        "sub_title": "프리미엄 뷔페 레스토랑으로 격조 높은 인테리어와<br>여유로운 공간에서 미각의 아름다움을 만끽하실 수 있습니다."
        })
        <div class="sub container">
            <div class="sub_item_box">
                <div class="sub_item_wrap">
                    <div class="sub_item">
                        <div class="slick_slider">
                            <div class="icon-prev"><i class="icon-33"></i></div>
                            <div class="icon-next"><i class="icon-32"></i></div>
                            <div class="slick_basic">
                                <div><img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/dining/restaurant/001.jpg" alt="레스토랑사진"></div>
                                <div><img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/dining/restaurant/002.jpg" alt="레스토랑사진"></div>
                            </div>
                        </div>
                        <div class="item_info">
                            <div class="info_wrap">
                                <h5 class="info_title">위치안내</h5>
                                <div class="info_content">2층</div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">운영안내</h5>
                                <div class="info_content">
                                <span class="sh_small">아메리칸 조식뷔페 (약 40여가지 뷔페식단 제공)</span><br>
                                <span class="sh_small">조식은 매주 토, 일요일, 공휴일만 운영</span>
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">운영시간</h5>
                                <div class="info_content">
                                    <span class="sh_small">오전 07:00 ~ 10:00 (09:30분 입장마감)</span><br />
                                    <span class="sh_small">※ 매주 토, 일요일, 공휴일만 운영</span><br />
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">조식요금</h5>
                                <div class="info_content">
                                    <span class="sh_small">주중/주말 공통</span><br />
                                    <span class="sh_small">* 대인 : 정상가 19,900원 > 당일현장 구매가 17,900원</span><br>
                                    <span class="sh_small">* 소인 : 정상가 14,900원 > 당일현장 구매가 12,900원</span><br>
                                    <span class="sh_small">※ 소인기준 : 4세~13세(초등학생) / 36개월 미만 유아 무료</span>
                                </div>
                            </div>
                            @@include('src/template/dining/_tell.html')
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('src/template/include/_footer.html')
</body>

</html>