<div class="sub_top_menu">
    <h4 class="page_title">@@title</h4>
    <h6 class="page_sub_title">@@sub_title</h6>
    <ul class="menu_wrap container">
        <!-- 해당 탭 url일 경우, 클래스 active -->
        <li class="menu_item"><a href="/main/about/index.html">호텔소개</a></li>
        <li class="menu_item"><a href="/main/map/index.html">오시는길</a></li>
        <li class="menu_item"><a href="/brd/lists/notice.html">공지사항</a></li>
        <li class="menu_item"><a href="/tourist/index.html">주변관광지</a></li>
        <!-- <li class="menu_item"><a href="/brd/list/notice.html">주차장 이용안내</a></li> -->
    </ul>
</div>