@@include('src/template/include/_head.html')
</head>

<body class="page-rooms">

    @@include('src/template/include/_header.html')

    <div class="sub room_detail">
        <div id="slider_room" class="slider_container room">
            <div data-u="slides" class="slides">
                <div data-p="112.50"><img data-u="image" class="room-visibility" src="http://img.intoraon.co.kr/rooms/dx_quad/01.jpg" alt="객실사진" /></div>
                <div data-p="112.50"><img data-u="image" class="room-visibility" src="http://img.intoraon.co.kr/rooms/dx_quad/02.jpg" alt="객실사진" /></div>
                <div data-p="112.50"><img data-u="image" class="room-visibility" src="http://img.intoraon.co.kr/rooms/dx_quad/03.jpg" alt="객실사진" /></div>
                <div data-p="112.50"><img data-u="image" class="room-visibility" src="http://img.intoraon.co.kr/rooms/dx_quad/04.jpg" alt="객실사진" /></div>
                
            </div>
            <span u="arrowleft" class="jssor-sprite arow-left" style="width: 21px; height: 32px; top: 290px; left: 20px;"></span>
            <span u="arrowright" class="jssor-sprite arow-right" style="width: 21px; height: 32px; top: 290px; right: 20px"></span>
        </div>

        @@include('src/template/include/rooms/_sub_top.html', {
        "title": "디럭스 패밀리 쿼드",
        "sub_title": "캐쥬얼하고 안락한 공간연출로 편안함을 제공해 드립니다.<br>더블침대 1개와 2층침대로 구성되어 가족형으로 구성된 룸타입니다."})

        <div class="container">
            <div class="detail box_center">
                <div class="box_right">
                    <h3>RESERVATION</h3>
                    <form method="get" name="myForm" id="myForm" action="https://be.wingsbooking.com/ko/VHG1/redirect">
                        <div class="s_input">
                            <input type="text" name="checkIn" class="datepicker_in" value="2019-06-18" placeholder="Check in" readonly />
                            <i class="icon-12 label"></i>
                        </div>
                        <div class="s_input">
                            <input type="text" name="checkOut" class="datepicker_ot" value="2019-06-19" placeholder="Check out" readonly />
                            <i class="icon-12 label"></i>
                        </div>
                        <div class="s_input">
                            <input type="number" class="set_period_date" value="1" min="1" onKeyup="number_check(this)" />
                            <p class="ad_form_label">박</p>
                        </div>
                        <div class="s_input">
                            <input type="number" name="rooms" value="1" min="1" onKeyup="number_check(this)" />
                            <p class="ad_form_label">객실</p>
                            <input type="hidden" name="adults" value="1" />
                            <input type="hidden" name="children" value="" />
                        </div>
                        <div class="s_input">
                            <button type="button" class="s_btn_gray b_100" onclick="on_submit()"><i class="icon-113"></i> SEARCH</button>
                        </div>
                    </form>
                </div>
                <div class="box_left">
                    <!-- <button class="amenity_more tooltip" onclick="amenity_more()" title="더보기"><span>+</span></button> -->
                    @@include('src/template/include/rooms/_amenitys.html')
                    <div class="description">
                        <div class="title">
                            <h5>ROOM QUICKVIEW</h5>
                        </div>
                        <div class="cont">
                            <ul class="c_list">
                                <li>객실 크기 : 27㎡ (8.1평)</li>
                                <li>침대 타입 :  더블 1개 + 2층침대</li>
                                <li>객실당 인원 : 기준인원 4인 / 최대인원 4인</li>
                                </li>
                            </ul>
                        </div>
                    </div>

                    @@include('src/template/include/rooms/_description_amenity2.html')
                    @@include('src/template/include/rooms/_description.html')
                </div>
                <!-- /.box_left -->
            </div>
        </div>
    </div>

    @@include('src/template/include/_footer.html')
</body>

</html>