@@include('src/template/include/_head.html')
</head>

<body class="page-rooms">

    @@include('src/template/include/_header.html')

    <div class="sub room_detail">
        <div id="slider_room" class="slider_container room">
            <div data-u="slides" class="slides">
                <div data-p="112.50"><img data-u="image" class="room-visibility" src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/rooms/sp_double/001.jpg" alt="객실사진" /></div>
                <div data-p="112.50"><img data-u="image" class="room-visibility" src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/rooms/sp_double/002.jpg" alt="객실사진" /></div>
                <div data-p="112.50"><img data-u="image" class="room-visibility" src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/rooms/sp_double/comm_dx001.jpg" alt="객실사진" /></div>
                <div data-p="112.50"><img data-u="image" class="room-visibility" src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/rooms/sp_double/002.jpg" alt="객실사진" /></div>
            </div>
            <span u="arrowleft" class="jssor-sprite arow-left" style="width: 21px; height: 32px; top: 290px; left: 20px;"></span>
            <span u="arrowright" class="jssor-sprite arow-right" style="width: 21px; height: 32px; top: 290px; right: 20px"></span>
        </div>

        @@include('src/template/include/rooms/_sub_top.html', {
        "title": "슈페리아 더블",
        "sub_title": "안락한 객실 분위기와 곳곳에 배치된 심플한 소품이 조화로운 룸타입입니다.<br>더블배드를 제공하여 내집과 같은 편안함을 느낄 수 있도록 구성했습니다."})

        <div class="container">
            <div class="detail box_center">
                <div class="box_right">
                    <h3>RESERVATION</h3>
                    <form method="get" name="myForm" id="myForm" action="https://be.wingsbooking.com/ko/VHG1/redirect">
                        <div class="s_input">
                            <input type="text" name="checkIn" class="datepicker_in" value="2019-06-18" placeholder="Check in" readonly />
                            <i class="icon-12 label"></i>
                        </div>
                        <div class="s_input">
                            <input type="text" name="checkOut" class="datepicker_ot" value="2019-06-19" placeholder="Check out" readonly />
                            <i class="icon-12 label"></i>
                        </div>
                        <div class="s_input">
                            <input type="number" class="set_period_date" value="1" min="1" onKeyup="number_check(this)" />
                            <p class="ad_form_label">박</p>
                        </div>
                        <div class="s_input">
                            <input type="number" name="rooms" value="1" min="1" onKeyup="number_check(this)" />
                            <p class="ad_form_label">객실</p>
                            <input type="hidden" name="adults" value="1" />
                            <input type="hidden" name="children" value="" />
                        </div>
                        <div class="s_input">
                            <button type="button" class="s_btn_gray b_100" onclick="on_submit()"><i class="icon-113"></i> SEARCH</button>
                        </div>
                    </form>
                </div>
                <div class="box_left">
                    <!-- <button class="amenity_more tooltip" onclick="amenity_more()" title="더보기"><span>+</span></button> -->
                    @@include('src/template/include/rooms/_amenitys.html')

                    <!--펫룸배너-->
                    <div class="event-banner-petroom">
                        <a href="http://intoraon.co.kr/reserve/" target="_blink">
                            <img class="img-petroom-pc" src="http://img.intoraon.co.kr/event/petroom_pc.jpg" alt="펫배너_pc">
                            <img class="img-petroom-mobile" src="http://img.intoraon.co.kr/event/petroom_m.jpg" alt="펫배너_모바일">
                        </a>
                    </div>
                    <!--펫룸배너-->

                    <div class="description">
                        <div class="title">
                            <h5>ROOM QUICKVIEW</h5>
                        </div>
                        <div class="cont">
                            <ul class="c_list">
                                <li>객실 크기 : : 23.8㎡ (7.2평)</li>
                                <li>침대 타입 : 더블 1개</li>
                                <li>객실당 인원 : 기준인원 2인 / 최대인원 2인</li>
                                </li>
                            </ul>
                        </div>
                    </div>

                    @@include('src/template/include/rooms/_description_amenity2.html')
                    @@include('src/template/include/rooms/_description.html')
                </div>
                <!-- /.box_left -->
            </div>
        </div>
    </div>

    @@include('src/template/include/_footer.html')
</body>

</html>