@@include('src/template/include/_head.html')
</head>

<body>

    @@include('src/template/include/_header.html')

    <div class="view board_view">
        <div class="container box">
            <h3>
                <i class="icon-37"></i> 에어스카이호텔, 경포아쿠아리움과의 제휴 </h3>
            <div class="brd_info">
                <span>관리자</span>/
                <span><i class="icon-36"></i>2019-03-03</span>/
                <span><i class="icon-35"></i>3441</span>
            </div>


            <div class="brd_cont">
                <p><img alt="" src="http://img.hotelairsky.co.kr/svc/img/brd/notice/1541/img_01.jpg" />
                </p>

                <p>에어스카이호텔이 경포아쿠아리움과의 제휴를 시작합니다.</p>

                <p>에어스카이호텔에서 결제하신&nbsp;영수증을 경포아쿠아리움 매표소에 제시하면</p>

                <p>30% 할인혜택을 받으실 수 있으니, 강릉에서 가족들과 즐거운 추억 만들고 가세요^^</p>
            </div>

            <button type="button" class="brd_btn" onclick="history.back()">뒤로가기</button>
        </div>
    </div>

    @@include('src/template/include/_footer.html')
</body>

</html>