@charset "utf-8";
// --------------
// Scss변수
// --------------
// 주요 폰트 및 벌러
$font-stack: "Noto Sans KR", Sans-serif;
$primary-color: #222;

// 폰트
$font-ntss: "Noto Sans KR", Sans-serif;
$font-nnGothic: "Nanum Gothic", Sans-serif;
$font-nnSquare: "Nanum Square", "NanumSquare", Sans-serif;
$font-nnSquareR: "NanumSquareRound", Sans-serif;

// 색상
$white: #fff;
$fg-blue: #186aff;
$fg-red-1: #e82600;

// 배경
$bg-header: #303A50;
$bg-darkgray2: #333C51;
$bg-menu: #00AEED;

// Border 색상
$bor-gray-1: #cecece;

//줄간격
$lh-1: 1.5;
$lh-2: 1.6;
$lh-3: 1.3;