<footer class="footer">
    <div class="container">
        <ul class="sub_menu">
            <li class="active"><a href="/main/about/index.html">회사소개</a></li>
            <li class="l">|</li>
            <li><a href="/main/map/index.html">찾아오시는 길</a></li>
            <li class="l">|</li>
            <li><a href="/main/access.html">이용약관</a></li>
            <li class="l">|</li>
            <li><a href="/main/policy.html">개인정보취급방침이용약관</a></li>
            <li class="l">|</li>
            <li><a href="/main/email.html">이메일무단수집금지</a></li>
        </ul>
        <div class="address">
            <div class="info">
                <div>
                    <span>주소</span><b>강원도 강릉시 주문진읍 주문로 59</b>
                </div>
                <div>
                    <span>이메일</span><b>valuehotelgangneung@ebiznetworks.co.kr</b>
                </div>
                <div>
                    <span>예약실</span><b>1666-1243</b>
                </div>
            </div>
            <div class="info">
                <div>
                    <span>사업자명</span><b>(주)에어스카이호텔</b>
                </div>
                <div>
                    <span>대표이사</span><b>송영철</b>
                </div>
                <div>
                    <span>사업자등록번호</span><b>275-81-00923</b>
                </div>
                <div>
                    <span>통신판매신고번호</span><b>제2017-서울강남-04727호</b>
                </div>
            </div>
            <p>COPYRIGHT © 2018 VALUEHOTEL WORLDWIDE GANGNEUNG. ALL RIGHTS RESERVED.</p>
            <!-- <div class="info">
                <div>
                    <span>사업자명</span><b>주식회사 씨베이호텔 </b>
                </div>
                <div>
                    <span>대표이사</span><b>이규남</b>
                </div>
                <div>
                    <span>사업자등록번호</span><b>315-86-01429</b>
                </div>
            </div>
            <p>COPYRIGHT © 2018 SEABAYHOTEL WORLDWIDE GANGNEUNG. ALL RIGHTS RESERVED.</p> -->
            <div class="footer_logo"></div>
        </div>
    </div>
</footer>


<script type="text/javascript" src="/static/svc/common/javascript/lib/jquery/jquery.parallax.js"></script>
<script type="text/javascript" src="/static/svc/common/javascript/lib/datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/static/svc/common/javascript/lib/support/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="/static/svc/common/javascript/lib/jquery.word-break-keep-all.min.js"></script>
<!--[if lt IE 9]>
    <script type="text/javascript" src="/static/svc/common/javascript/lib/support/flexibility.min.js"></script>
<![endif]-->

<script type="text/javascript" src="/static/svc/common/javascript/lib/jssor/jssor.slider.min.js"></script>
<script type="text/javascript" src="/static/svc/lib/slick-master/slick/slick.js"></script>
<script type="text/javascript" src="/static/svc/common/javascript/func/function01.min.js"></script>
<script type="text/javascript" src="/static/svc/js/script.min.js"></script>