<footer class="footer">
    <div class="group">
        <div class="terms-bar">
            <ul class="terms-list">
                <li class="hidden-smxs"><a href="/main/about/index.html">회사소개</a></li>
                <li class="l hidden-smxs">|</li>
                <li class="hidden-smxs"><a href="/main/map/index.html">찾아오시는 길</a></li>
                <li class="l hidden-smxs">|</li>
                <li><a href="/main/access.html">이용약관</a></li>
                <li class="l">|</li>
                <li><a href="/main/policy.html">개인정보취급방침이용약관</a></li>
                <li class="l">|</li>
                <li><a href="/main/email.html">이메일무단수집금지</a></li>
            </ul>
        </div>
    </div>
</footer>


<script type="text/javascript" src="/static/svc/common/javascript/lib/jquery/jquery.parallax.js"></script>
<script type="text/javascript" src="/static/svc/common/javascript/lib/datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/static/svc/common/javascript/lib/support/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="/static/svc/common/javascript/lib/jquery.word-break-keep-all.min.js"></script>
<!--[if lt IE 9]>
    <script type="text/javascript" src="/static/svc/common/javascript/lib/support/flexibility.min.js"></script>
<![endif]-->

<script type="text/javascript" src="/static/svc/common/javascript/lib/jssor/jssor.slider.min.js"></script>
<script type="text/javascript" src="/static/svc/lib/slick-master/slick/slick.js"></script>
<script type="text/javascript" src="/static/svc/common/javascript/func/function01.min.js"></script>
<script type="text/javascript" src="/static/svc/js/script.min.js"></script>