<!-- 190910 메인 + 영상이 있을경우 vid 멀티클래스 추가 -->
<!-- <header class="header"> -->
<header class="header">
    <div class="ajax_loader b_hide">
        <div>
            <img src="http://img.hotelairsky.co.kr/svc/img/loader/loading.gif" />
            <p>처리 요청 중입니다.</p>
        </div>
    </div>
    <div class="image_view_container">
        <div class="view">
            <i class="icon-10 img-remove"></i>
        </div>
    </div>

    <div class="gnb">
        <div class="group-f">
            <!-- 190910 logo 추가 수정 -->
            <a href="/index.html" class="logo-box com">
                <h1>
                    <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/symbol/m_top_logo.png" alt="인투라온호텔" class="logo hidden-smxs">
                    <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/symbol/m_top_logo.png" alt="인투라온호텔" class="logo-m hidden-mdlg">
                </h1>
            </a>
            <a href="/index.html" class="logo-box vid">
                <h1>
                    <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/symbol/top_logo.png" alt="인투라온호텔" class="logo hidden-smxs">
                    <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/symbol/top_logo.png" alt="인투라온호텔" class="logo-m hidden-mdlg">
                </h1>
            </a>

            <button class="nav-tab hidden-mdlg">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <nav class="cf nav">
                <span class="sr-only">전체 메뉴</span>
                <div class="bg-drop"></div>
                <div class="nav-box">
                    <div class="nav-tit hidden-mdlg">
                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/symbol/top_logo.png" alt="인투라온호텔" class="logo-menu"><span class="i-x" onclick=""></span>
                        <div class="menu-btn-box">
                            <a href="../reservation/" class="btn-bk">객실예약</a>
                            <a href="../reservation/confirm.html" class="btn-bkc">예약확인</a>
                        </div>
                    </div>
                    <ul class="cf menu">
                        <li>
                            <a class="title click-none" href="/main/about/index.html">호텔소개</a>
                            <ul class="sub">
                                <li><a href="/main/about/index.html">호텔 소개</a></li>
                                <li><a href="/main/map/index.html">오시는 길</a></li>
                                <li><a href="/brd/lists/notice.html">공지사항</a></li>
                                <li><a href="/tourist/index.html">주변 관광지</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="title click-none" href="/rooms/royal_su.html" >객실안내</a>
                            <ul class="sub">
                                <li><a href="/rooms/royal_su.html">로얄 스위트</a></li>
                                <li><a href="/rooms/executive_su.html">이그제큐티브 스위트</a></li>
                                <li><a href="/rooms/junior_su.html">패밀리 스위트</a></li>
                                <li><a href="/rooms/pr_fm.html">프리미어 패밀리</a></li>
                                <li><a href="/rooms/dx_db.html">디럭스 더블</a></li>
                                <li><a href="/rooms/dx_tw.html">디럭스 트윈</a></li>
                                <li><a href="/rooms/dx_fm_tw.html">디럭스 패밀리 트윈</a></li>
                                <li><a href="/rooms/dx_fm_quad.html">디럭스 패밀리 쿼드</a></li>
                                <li><a href="/rooms/dx_ondol.html">디럭스 온돌</a></li>
                                <li><a href="/rooms/sp_tw.html">슈페리어 트윈</a></li>
                                <li><a href="/rooms/sp_db.html">슈페리어 더블</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="title click-none" href="/dining/restaurant.html"  >다이닝</a>
                            <ul class="sub">
                                <li><a href="/dining/restaurant.html">바바체 레스토랑</a></li>
                                <li><a href="/dining/irishall.html">아이리스홀</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="title click-none" href="/facilities/jade.html"  >부대시설</a>
                            <ul class="sub">
                                <li><a href="/facilities/jade.html">제이드홀</a></li>
                                <li><a href="/facilities/orchid.html">오키드룸</a></li>
                                <li><a href="/facilities/athen.html">아테네가든</a></li>
                                <li><a href="/facilities/lobby.html">로비라운지</a></li>
                                <li><a href="/facilities/fitness.html">휘트니스센터</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/group/index.html" class="title">단체문의</a>
                        </li>
                        <li>
                            <a href="/ski/index.html" class="title">스키시즌 숙박</a>
                        </li>
                        <li>
                            <!-- <a href="javascript:;" onclick="alert('준비중입니다.')" class="title">장기/단기 숙박</a> -->
                            <a href="/rent/index.html" class="title">장기/단기 숙박</a>
                        </li>
                        <li>
                            <!-- <a href="javascript:;" onclick="alert('준비중입니다.')" class="title">이벤트/축제</a> -->
                            <a href="/event/index.html" class="title">이벤트/축제</a>
                        </li>
                        <li>
                            <a href="/tourist/index.html" class="title">주변관광지</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="bk-menu hidden-smxs airsky">
                <a href="/reserve" class="btn-bk">예약하기</a>
                <ul class="bk-list">
                    <li class="item item-1 fst"><a href="/reserve">객실예약</a></li>
                    <li class="item item-2"><a href="/history/?dd=Sws5TzdVKg==">예약확인</a></li>
                    <li class="item item-3"><a href="/group">단체예약</a></li>
                    <li class="item item-4"><a href="/rent">장기/단기예약</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="body"></div>
<br class="br_sub">