<header class="header">
    <div class="ajax_loader b_hide">
        <div>
            <img src="http://img.hotelairsky.co.kr/svc/img/loader/loading.gif" />
            <p>처리 요청 중입니다.</p>
        </div>
    </div>

    <div class="image_view_container">
        <div class="view">
            <i class="icon-10 img-remove"></i>
        </div>
    </div>
    <div class="top_line">
        <div class="container">
            <ul class="box">
                <li class="call"><i class="icon-05"></i> 1666-1243</li>
                <li class="email"><i class="icon-03"></i> valuehotelgangneung@ebiznetworks.co.kr</li>
                <!-- <li class="blank"></li>
                <li class="blog"><a href="javascript:alert('준비중입니다.')" target="_blank"></a></li>
                <li class="face"><a href="https://www.facebook.com/valuehotelgn/" target="_blank"></a></li>
                <li class="insta"><a href="https://instagram.com/valuehotel_gangneung/" target="_blank"></a></li>
                <li class="lang">
                    <ul class="list">
                        <li>KR</li>
                        <li onclick="go_lang( 'english' )">EN</li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="top_box">
        <div class="container">
            <a href="/index.html">
                <div class="top_logo">
                    <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/top_logo.png" alt="인투라온호텔">
                </div>
            </a>
        </div>
    </div>
    <div class="top_navi">
        <div class="navi_scroll">
            <div class="container">
                <a href="/index.html" class="logo_m">
                    <div class="top_logo_c">
                        <img src="http://img.hotelairsky.co.kr/svc/img/symbol/m_top_logo.png" alt="인투라온호텔">
                    </div>
                </a>
                <!-- <div class="mlang">
                    <ul class="l">
                        <li>KR</li>
                        <li class="bg" onclick="go_lang2( 'english' )">EN</li>
                    </ul>
                </div> -->
                <a class="side_toggle out"><i class="icon-30"></i></a>
                <div class="left_overlay"></div>
                <div class="list">
                    <button type="button" class="side_toggle"><i class="icon-29"></i></button>
                    <ul>
                        <li>
                            <a class="title">ACCOMMODATION</a>
                            <ul class="sub">
                                <li><a href="/rooms/detail/18836.html">SUPERIOR</a></li>
                                <li><a href="/rooms/detail/18837.html">DELUXE</a></li>
                                <li><a href="/rooms/detail/19198.html">DELUXE FAMILY</a></li>
                                <li><a href="/rooms/detail/18838.html">PREMIER DELUXE</a></li>
                                <li><a href="/rooms/detail/18839.html">OCEAN SUITE</a></li>
                                <li><a href="/rooms/detail/35055.html">OCEAN FAMILY SUITE</a></li>
                                <!-- <li><a href="/rooms/detail/18840">POOL SUITE</a></li> -->
                            </ul>
                        </li>
                        <li>
                            <a class="title">RESTAURANT & BAR</a>
                            <ul class="sub">
                                <li><a href="/restaurant/valueplate.html">VALUE PLATE</a></li>
                                <li><a href="/restaurant/lobbybar.html">BAR 59</a></li>
                                <li><a href="/restaurant/swimmingbar.html">SWIMMING BAR</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="title">FACILITIES</a>
                            <ul class="sub">
                                <li><a href="/facilities/banquethall.html">BANQUET HALL</a></li>
                                <li><a href="/facilities/swimmingpool.html">SWIMMING POOL</a></li>
                                <li><a href="/facilities/businesscorner.html">BUSINESS CORNER</a></li>
                                <li><a href="/facilities/heavenlypark.html">HEAVENLY PARK</a></li>
                                <!-- <li><a href="/facilities/kidscorner">KIDS CORNER</a></li> -->
                            </ul>
                        </li>
                        <!-- <li>
                            <a class="title">SPECIAL OFFERS</a>
                            <ul class="sub">
                                <li><a href="/brd/lists/event.html">EVENT</a></li>
                            </ul>
                        </li> -->
                        <li>
                            <a class="title">HOTEL NEWS</a>
                            <ul class="sub">
                                <li><a href="/main/about/index.html">ABOUT VALUE HOTEL</a></li>
                                <li><a href="/main/factsheet/index.html">FACT SHEET</a></li>
                                <li><a href="/main/map/index.html">LOCATION</a></li>
                                <li><a href="/brd/lists/notice.html">NOTICE</a></li>
                                <!-- <li><a href="/brd/lists/faq/index.html">FAQ</a></li>
                                <li><a href="/brd/qna_write/index.html">INQUIRY</a></li>
                                <li><a href="/brd/lists/news.html">PRESS RELEASE</a></li> -->
                                <li><a href="https://www.gn.go.kr/tour/index.do" target="_blank">HOT PLACE</a></li>
                            </ul>
                        </li>
                        <!-- <li class="sns_btn face">
                            <a class="title" href="https://www.facebook.com/valuehotelgn/" target="_blank"><span class="sns_icon"></span> FACEBOOK</a>
                        </li>
                        <li class="sns_btn blog">
                            <a class="title" href="javascript:alert('준비중입니다.')"><span class="sns_icon"></span> NAVER BLOG</a>
                        </li>
                        <li class="sns_btn insta">
                            <a class="title" href="javascript:alert('준비중입니다.')"><span class="sns_icon"></span> INSTAGRAM</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="body"></div>
<br class="br_sub">