@@include('src/template/include/_head.html')

<link rel="stylesheet" href="http://static.intoraon.co.kr/css/ski/init.css">
<!-- <link rel="stylesheet" href="/static/css/ski/init.css"> -->

</head>

<body class="page-rent">

    @@include('src/template/include/_header.html')

    <div class="contents group-contents">
        <div class="sub">
            <div class="sub_top_menu">
                <h4 class="page_title">스키시즌 장기숙박</h4>
                <h6 class="page_sub_title">
                    한국 최고의 스키장 하이원, 시즌동안 파격적인 가격으로 권해드립니다.
                </h6>
            </div>
        </div>
    </div>
    <div class="ski-wrap">
        <div  class="img-area" >
            <img src="http://img.intoraon.co.kr/ski/ski_season.jpg" alt="이미지">
        </div>
    </div>

    @@include('src/template/include/_footer.html')
</body>

</html>