@@include('src/template/include/_head.html')
</head>

<body>

    @@include('src/template/include/_header.html')

    <div class="b_mx900">
        <div class="access_box">
            <h1 class="b_acenter">인투라온호텔 호텔이용약관</h1>
            <div class="box">
                <p>인투라온호텔의 회원약관은 다음과 같은 내용을 담고 있습니다.</p>
                <p><br></p>
                <p><b>제1조 본 약관의 적용</b></p>
                <p><b>제2조 숙박거절의 경우</b></p>
                <p><b>제3조 성명 등의 명시</b></p>
                <p><b>제4조 숙박 등록 절차</b></p>
                <p><b>제5조 체크인과 체크아웃</b></p>
                <p><b>제6조 요금의 지불</b></p>
                <p><b>제7조 환불 및 취소규정</b></p>
                <p><b>제8조 숙박책임</b></p>
                <p><b>제9조 객실 키 카드 인수 및 반납</b></p>
                <p><br></p>
                <p><b>제1조 본 약관의 적용</b></p>
                <ol>
                    <li>당 호텔이 체결하는 숙박계약 및 여기에 관계되는 계약은 본 계약이 정하는 바에 의하는 것으로 하고 본 약관에 규정되지 않는 사항에 관하여는 법령 또는 관습에 의하는 것으로
                        합니다.</li>
                    <li>당 호텔은 신용카드 예약에 관련된 것은 이 규정에 따르되 그 세부사항은 신용카드사와 호텔 가맹점간의 약관에 따릅니다.</li>
                    <li>당 호텔은 전항의 규정에 구애됨이 없이 약관의 취지, 법령 또는 관습에 반하지 않는 범위 내에서 특약에 응할 수가 있습니다.</li>
                </ol>
                <p><br></p>
                <p><b>제2조 숙박거절의 경우</b></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;당 호텔은 다음과 같은 경우에 숙박을 거절할 수 있습니다.</p>
                <ol>
                    <li>숙박신청이 이 계약에 의하지 않은 경우</li>
                    <li>객실 만실로 인해 객실의 여유가 없을 경우</li>
                    <li>숙박을 하고자 하는 고객께서 숙박에 관한 법령 또는 공공질서나 미풍양속에 위배되는 행위를 할 염려가 있다고 인정될 경우</li>
                    <li>숙박하고자 하는 고객이 전염병자라고 명백히 인정되는 경우</li>
                    <li>숙박에 관하여 불필요한 보상을 요구할 경우</li>
                    <li>애완용 동물, 위험약물, 폭발물 또는 무기 등을 소지하고 있다고 인정되는 경우</li>
                    <li>천재지변, 시설의 고장, 기타 불가피한 이유로 숙박을 응할 수 없는 경우</li>
                    <li>대한민국 법령 등이 규정하는 바에 따라 숙박할 수 없다고 인정되는 경우</li>
                </ol>
                <p><br></p>
                <p><b>제3조 성명 등의 명시</b></p>
                <ol>
                    <li>숙박자의 성명, 성별, 국적 및 직업</li>
                    <li>기타 당 호텔에서 필요하다고 인정되는 사항</li>
                </ol>
                <p><br></p>
                <p><b>제4조 숙박 등록 절차</b></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;투숙객은 숙박 당일 당 호텔 프런트 데스크에서 다음 사항을 당 호텔에 등록하여 주십시오.</p>
                <ol>
                    <li>제3조 제1항의 사항</li>
                    <li>외국인에 대해서는 여권번호 및 사증종류, 한국도착 날짜</li>
                    <li>내국인에 대해서는 생년월일</li>
                    <li>출발 날짜</li>
                    <li>호텔에서 필요하다고 인정되는 기타 정보</li>
                </ol>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;예약 및 숙박 시 수집되는 개인정보 취급에 관해서는 호텔 홈페이지의 '개인정보취급방침' 약관을 참고하여 주시기
                    바랍니다.</p>
                <p><br></p>
                <p><b>제5조 체크인과 체크아웃</b></p>
                <!-- <ol>
                    <li>체크인 시간은 오후 3시부터입니다.</li>
                    <li>체크아웃 시간은 오전 11시까지 입니다. </li>
                    <li>오후 3시까지 체크아웃 시간을 연장하고자 하는 경우 객실요금의 25%가 추가로 청구됩니다.</li>
                    <li>오후 6시까지 체크아웃 시간을 연장하고자 하는 경우 객실요금의 50%가 추가로 청구됩니다.</li>
                    <li>오후 6시 이후에까지 체크아웃 시간을 연장하고자 하는 경우 1박 객실 요금이 청구됩니다.</li>
                </ol> -->
                <ol>
                    <li>체크인 시간은 오후 3시부터입니다.</li>
                    <li>체크아웃 시간은 오전 11시까지 입니다. </li>
                    <li>오후 12시까지 체크아웃 시간을 연장하고자 하는 경우 무료 연장 가능합니다.</li>
                    <li>오후 5시까지 체크아웃 시간을 연장하고자 하는 경우 50,000원이 추가 청구됩니다.</li>
                    <li>오후 5시이후 체크아웃시 당일 객실요금의 100%가 추가 청구됩니다.</li>
                </ol>
                <p><br></p>
                <p><b>제6조 요금의 지불</b></p>
                <ol>
                    <li>요금의 지불은 대한민국 통용화폐와 당 호텔에서 인정하는 여행자 수표, 쿠폰 또는 신용카드에 의해 숙박고객의 출발 시 또는 당 호텔에서 요구했을 시에 당 호텔 프런트에서
                        지불해야 합니다. 단, 개인 수표는 취급하지 않습니다.</li>
                    <li>고객이 객실을 사용하기 시작한 다음 임의로 숙박을 하지 않은 경우에 있어서도 숙박 요금이 청구됩니다.</li>
                    <li>스위트 룸을 제외한 모든 객실 요금은 객실 침대 수 기준이며 투숙인원이 추가될 경우 추가요금이 청구될 수 있습니다.</li>
                </ol>
                <p><br></p>
                <p><b>제7조 환불 및 취소규정</b></p>
                <ol>
                    <li>체크인 15일 이전에 예약취소 하실 경우 결제금액의 90%를 환불해드립니다.</li>
                    <li>체크인 10일 이전에 예약취소 하실 경우 결제금액의 80%를 환불해드립니다.</li>
                    <li>체크인 7일 이전에 예약취소 하실 경우 결제금액의 60%를 환불해드립니다.</li>
                    <li>체크인 6일 이전에 예약취소 하실 경우 결제금액의 30%를 환불해드립니다.</li>
                    <li>체크인 5일 이내 예약취소 요청 또는 숙박날짜 당일에 고객확인이 되지않을 경우(No Show) 결제금액의 100%가 부과됩니다.</li>
                </ol>
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* 극성수기 및 (예약이 급증하는) 국가적인 특정행사에는 '환불불가' 이오니 예약 시 주의하여 주시기 바랍니다.
                </div>
                <p><br></p>
                <p><b>제8조 숙박책임</b></p>
                <ol>
                    <li>당 호텔의 숙박에 관한 책임은 투숙객이 당 호텔 프론트 데스크에서 숙박등록을 하였을 시와 객실에 안내 되었을 시 중 먼저 행위가 이루어진 시점부터 책임을 지게 되며,
                        투숙객이 객실을 퇴실하였을 시 호텔의 책임은 완료가 됩니다.</li>
                    <li>숙박자가 당 호텔 안에 제시한 이용규칙을 준수하지 않으므로 예기된 사고에 관해서는 당 호텔은 기 책임을 지지 않습니다.</li>
                    <li>당 호텔은 숙박예약 보증 후 투숙객에게 객실 제공을 못할 경우에는 동급 또는 더 나은 숙박 시설을 알선하고 최초 1일 숙박요금의 100%를 보상합니다.</li>
                </ol>
                <p><br></p>
                <p><b>제9조 객실 키 카드 인수 및 반납</b></p>
                <ol>
                    <li>투숙객은 등록 시 프론트 데스크에서 객실키를 인수하여 퇴실 시에는 요금지불과 함께 반드시 프런트 캐셔에게 키 카드를 반납해야 합니다.</li>
                    <li>투숙객은 투숙 중 객실키를 분실하였을 시 지체 없이 프런트 데스크에 분실 신고를 하여야 합니다.</li>
                    <li>투숙객이 객실 키를 소지하고 체크아웃 할 경우 지체 없이 우편 또는 기타 방법으로 신속히 호텔로 반송하여야 합니다.</li>
                </ol>
            </div>
        </div>
    </div>

    @@include('src/template/include/_footer.html')
</body>

</html>