@@include('src/template/include/_head.html')
</head>

<body>

    @@include('src/template/include/_header.html')

    <div class="b_mx900">
        <div class="access_box no_email">
            <h1 class="b_acenter">이메일 주소 무단 수집</h1>
            <div class="box">본 웹사이트 및 모바일 페이지에 게시된 이메일 주소가 전자우편 수집 프로그램이나 그밖의 기술적 장치를 이용하여 무단으로 수집되는것을 거부하며, 이를 위반 시
                정보통신망법에 의해 처벌 될 수 있음을 유의하여 주시기 바랍니다.
            </div>
        </div>
    </div>

    @@include('src/template/include/_footer.html')
</body>

</html>