@@include('src/template/include/_head.html')
</head>

<body>

    @@include('src/template/include/_header.html')

    <div class="board_view">
        <div class="container box">
            <h3>
                에어스카이호텔, 구정맞이 '복福'맞이 패키지 </h3>
            <div class="brd_info">
                <span>관리자</span>/
                <span><i class="icon-36"></i>2019-01-12</span>/
                <span><i class="icon-35"></i>1488</span>
            </div>

            <div class="brd_period">이벤트기간 : 2019-01-12 ~ 2019-01-31</div>

            <div class="brd_cont">
                <p><a href=""><img alt="" src="http://img.hotelairsky.co.kr/svc/img/brd/view/1515/img_01.jpg" /></a></p>
                <p><img alt="" src="http://img.hotelairsky.co.kr/svc/img/brd/view/1515/img_02.jpg" /></p>
            </div>

            <button type="button" class="brd_btn" onclick="location='/svc/brd/lists/event'">뒤로가기</button>
        </div>
    </div>

    @@include('src/template/include/_footer.html')
</body>

</html>