@@include('src/template/include/_head.html')

<link rel="stylesheet" type="text/css" href="/static/css/group/init.css">
<!-- <link rel="stylesheet" href="http://static.intoraon.co.kr/css/group/init.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">

</head>

<body class="">

    @@include('src/template/include/_header.html')

    <div class="contents group-contents">

        <!-- Title -->
        <div class="sub">
            <div class="sub_top_menu">
                <h4 class="page_title">단체문의</h4>
                <h6 class="page_sub_title">풍부한 관광활동이 가득한 인투라온호텔에서 단체행사를 준비하세요.</h6>
            </div>
        </div>
        <!-- //Title -->
        <div class="sub group_box container">
            <div class="sub_item_box">
                <div class="sub_item_wrap">
                    <div class="sub_item">
                        <section class="intro-sec cf">
                            <div class="d-row">
                                <p class="p-1 thColor2-2">
                                    <strong>단체행사를 계획하고 있으신가요?</strong><br> 모든것이 완벽한 인투라온호텔에서 <br>아름다운 추억을 만들어 드립니다.
                                </p>
                                <div class="d-map">
                                    <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/map.jpg"
                                        alt="주변지도" />
                                </div>
                                <p class="p-2">
                                    인투라온호텔에서는 편안하고 안락한 객실은 물론
                                    자연환경과 함께 편안한 휴식처가 되어 드립니다. <br>
                                    편리한 부대시설을 비롯, 강원랜드, 스키장, 워터파크 등
                                    풍부한 관광지와 인접하여 여행의 큰 즐거움을 드리는
                                    뛰어난 접근성을 자랑합니다.<br>
                                    정선인투라온호텔에서 모두와 함께하는 즐거움을
                                    만끽하시기 바랍니다.<br>
                                    <br>
                                </p>
                                <hr class="hidden-mdlg">
                                <p class="txt_wr">
                                    정선인투라온호텔은 467객실의 최신형 대형호텔이며<br>
                                    1,200명까지 동시 이용이 가능합니다.
                                </p>
                                <p class="area-btn" id="group_mobile" style="cursor:pointer"><a class=""
                                        onclick="faq_move()">단체 문의하기 <span class="ic-rArrow"></span></a></p>
                            </div>
                        </section>
                        <hr class="hidden-smxs">
                        <section class="room-sec cf">
                            <h2 class="h2-tit">정선인투라온 객실안내</h2>
                            <p class="p0">편안하고 아늑함을 마음 껏 누릴 수 있는 공간</p>
                            <ul class="ul-list cf" id="roomList">
                                <li class="li-item nth-1">
                                    <figure><img
                                            src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/room_01.jpg"
                                            alt="방 이미지">
                                    </figure>
                                    <div class="d-row-1">
                                        <div class="s-name">
                                            로얄 스위트(100㎡)
                                            <p class="d-row">※ 기준인원 2인 / 최대인원 4인</p>
                                        </div>
                                        <a href="../../rooms/royal_su.html" class="a-btn">자세히 보기</a>
                                    </div>
                                </li>
                                <li class="li-item nth-2">
                                    <figure><img
                                            src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/room_02.jpg"
                                            alt="방 이미지">
                                    </figure>
                                    <div class="d-row-1">
                                        <div class="s-name">
                                            이그제큐티브 스위트 (82㎡)
                                            <p class="d-row">※ 기준인원 3명 / 최대인원 4명</p>
                                        </div>
                                        <a href="../../rooms/executive_su.html" class="a-btn">자세히 보기</a>
                                    </div>
                                </li>
                                <li class="li-item nth-3">
                                    <figure><img
                                            src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/room_03.jpg"
                                            alt="디럭스 더블">
                                    </figure>
                                    <div class="d-row-1">
                                        <div class="s-name">
                                            패밀리 스위트 (48㎡)
                                            <p class="d-row">※ 기준인원 3인 / 최대인원 4인</p>
                                        </div>
                                        <a href="../../rooms/junior_su.html" class="a-btn">자세히 보기</a>
                                    </div>
                                </li>
                                <li class="li-item nth-4">
                                    <figure><img
                                            src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/room_04.jpg"
                                            alt="디럭스 키즈">
                                    </figure>
                                    <div class="d-row-1">
                                        <div class="s-name">
                                            디럭스 트윈/더블 (27.1㎡)
                                            <p class="d-row">※ 기준인원 2인 / 최대인원 2인</p>
                                        </div>
                                        <a href="../../rooms/dx_db.html" class="a-btn">자세히 보기</a>
                                    </div>
                                </li>
                                <li class="li-item nth-4">
                                    <figure><img
                                            src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/room_05.jpg"
                                            alt="디럭스 키즈">
                                    </figure>
                                    <div class="d-row-1">
                                        <div class="s-name">
                                            디럭스 온돌 (27.1㎡)
                                            <p class="d-row">※ 기준인원 2인 / 최대인원 2인</p>
                                        </div>
                                        <a href="../../rooms/dx_ondol.html" class="a-btn">자세히 보기</a>
                                    </div>
                                </li>
                                <li class="li-item nth-4">
                                    <figure><img
                                            src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/room_06.jpg"
                                            alt="디럭스 키즈">
                                    </figure>
                                    <div class="d-row-1">
                                        <div class="s-name">
                                            슈페리어 트윈/더블 (24㎡)
                                            <p class="d-row">※ 기준인원 2인 / 최대인원 2인</p>
                                        </div>
                                        <a href="../../rooms/sp_tw.html" class="a-btn">자세히 보기</a>
                                    </div>
                                </li>
                            </ul>
                        </section>
                        <hr>
                        <section class="facil-sec cf">
                            <h2 class="h2-tit">부대시설 안내</h2>
                            <p class="p0">한 자리에서 모든 것을 할 수 있는 특별한 부대시설 안내</p>
                            <ul class="ul-list cf">
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/facil01.jpg"
                                            alt="레스토랑">
                                        <figcaption>바바체 레스토랑</figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/facil02.jpg"
                                            alt="아이리스홀">
                                        <figcaption>아이르홀</figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/facil03.jpg"
                                            alt="제이드홀">
                                        <figcaption>제이드홀</figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/facil04.jpg"
                                            alt="오키드룸">
                                        <figcaption>오키드룸</figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/facil05.jpg"
                                            alt="로비">
                                        <figcaption>아테네가든</figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/facil06.jpg"
                                            alt="인포메이션">
                                        <figcaption>로비라운지</figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/facil07.jpg"
                                            alt="비즈니스 센터">
                                        <figcaption>프론트데스크</figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/facil08.jpg"
                                            alt="복도">
                                        <figcaption>복도</figcaption>
                                    </figure>
                                </li>
                            </ul>

                            <ul class="ul-list-2 cf">
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.bscondo.co.kr/group/music_01.jpg" class="hidden-smxs"
                                            alt="춤연습장, 보컬연습실이 필요한 단체숙소로 추천">
                                        <img src="http://img.bscondo.co.kr/m/group/music_01.jpg" class="show-smxs"
                                            alt="춤연습장, 보컬연습실이 필요한 단체숙소로 추천">
                                        <figcaption>춤연습장, 보컬연습실이 필요한 단체숙소로 추천</figcaption>
                                    </figure>
                                    <p class="li-txt ht-1"><span>걸그룹 댄스연습실, 아이돌 대형연습실, 보이그룹 춤연습실, 뮤지컬 연습실, 댄스연습장, 대형연습장,
                                            춤연습장, 합숙연습실, 합숙연습장, 합숙연습, 보컬연습실</span></p>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.bscondo.co.kr/group/music_02.jpg" class="hidden-smxs"
                                            alt="합주연습실이 필요한 단체숙소로 추천">
                                        <img src="http://img.bscondo.co.kr/m/group/music_02.jpg" class="show-smxs"
                                            alt="합주연습실이 필요한 단체숙소로 추천">
                                        <figcaption>합주연습실이 필요한 단체숙소로 추천</figcaption>
                                    </figure>
                                    <p class="li-txt ht-1"><span>관현악단 합주실, 오케스트라 합주연습실, 국악관현악단 합주연습장, 악단 합숙연습, 뮤지컬악단
                                            합주장소, 교향악단 합주연습장소, 현악단 연습장소, 교회현악단 합숙연습실, 교회관현악단 합숙연습장, 전자현악단 단체숙박, 국악현악단
                                            단체숙소</span></p>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.bscondo.co.kr/group/groupEvent_01.jpg" class="hidden-smxs"
                                            alt="초, 중, 고, 대학교, 학술답사 등의 단체숙소와 행사로 추천">
                                        <img src="http://img.bscondo.co.kr/m/group/groupEvent_01.jpg" class="show-smxs"
                                            alt="초, 중, 고, 대학교, 학술답사 등의 단체숙소와 행사로 추천">
                                        <figcaption>초, 중, 고, 대학교, 학술답사 등의 단체숙소와 행사로 추천</figcaption>
                                    </figure>
                                    <p class="li-txt"><span>수학여행, 체험학습, 수련회, 체육대회, MT, OT, 답사, 학회, 고적답사,<br>유적답사,
                                            문화유적답사, 문화유산답사, 역사유산답사 등</span></p>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.bscondo.co.kr/group/groupEvent_02.jpg" class="hidden-smxs"
                                            alt="회사, 기업, 종교, 가족 등의 단체숙소와 행사로 추천">
                                        <img src="http://img.bscondo.co.kr/m/group/groupEvent_02.jpg" class="show-smxs"
                                            alt="회사, 기업, 종교, 가족 등의 단체숙소와 행사로 추천">
                                        <figcaption>회사, 기업, 종교, 가족 등의 단체숙소와 행사로 추천</figcaption>
                                    </figure>
                                    <p class="li-txt"><span>워크샵, 세미나, 연수원, 기업OT, 기업행사, 야유회, 신녀회, 송년회,<br>환갑, 회갑, 돌잔치,
                                            결혼식, 상견례, 환갑잔치, 칠순잔치 등</span></p>
                                </li>
                            </ul>

                            <p class="area-btn hidden-mdlg"><a href="javascript:;" class="" onclick="faq_move()">단체 문의하기
                                    <span class="ic-rArrow"></span></a></p>
                        </section>
                        <hr>
                        <section class="facil-sec program-sec">
                            <h2 class="h2-tit">주변 관광지 안내</h2>
                            <p class="p0">더욱 알찬 여행을 즐기는 방법! 추천 주변 관광지를 소개합니다.</p>
                            <h3 class="h3-2">자연관광지</h3>
                            <ul class="ul-list type-2 cf">
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/tour/nature01.jpg"
                                            alt="주변관광지사진">
                                        <figcaption>함백산<br><span class="f-sm">차량 18분 소요<span> </span>(11km 거리)</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/tour/nature02.jpg"
                                            alt="주변관광지사진">
                                        <figcaption>오장폭포<br><span class="f-sm">차량 40분 소요 <span> </span>(35km 거리)</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/tour/nature03.jpg"
                                            alt="주변관광지사진">
                                        <figcaption>광대곡<br><span class="f-sm">차량 18분 소요<span> </span>(10km 거리)</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/tour/nature04.jpg"
                                            alt="주변관광지사진">
                                        <figcaption>정선 양떼목장<br><span class="f-sm">차량 40분 소요<span> </span>(20km
                                                거리)</span></figcaption>
                                    </figure>
                                </li>
                            </ul>
                            <h3 class="h3-2">액티비티 관광지</h3>
                            <ul class="ul-list type-2 cf">
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/tour/activities01.jpg"
                                            alt="주변관광지사진">
                                        <figcaption>화암카트체험장<br><span class="f-sm">차량 30분 소요<span> </span>(14km
                                                거리)</span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/tour/activities02.jpg"
                                            alt="주변관광지사진">
                                        <figcaption>동강리프팅<br><span class="f-sm">차량 35분 소요 <span> </span>(30km 거리)</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/tour/activities03.jpg"
                                            alt="주변관광지사진">
                                        <figcaption>정선 레일바이크<br><span class="f-sm">차량 50분 소요<span> </span>(33km
                                                거리)</span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/tour/activities04.jpg"
                                            alt="주변관광지사진">
                                        <figcaption>벅스랜드<br><span class="f-sm">차량 50분 소요<span> </span>(33km 거리)</span>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                            <h3 class="h3-2">시설 관광지</h3>
                            <ul class="ul-list type-2 cf">
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/tour/facil01.jpg"
                                            alt="주변관광지사진">
                                        <figcaption>아리랑박물관<br><span class="f-sm">차량 18분 소요<span> </span>(11km 거리)</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/tour/facil02.jpg"
                                            alt="주변관광지사진">
                                        <figcaption>삼탄아트마인<br><span class="f-sm">차량 40분 소요 <span> </span>(35km
                                                거리)</span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/tour/facil03.jpg"
                                            alt="주변관광지사진">
                                        <figcaption>어름치 갤러리<br><span class="f-sm">차량 18분 소요<span> </span>(10km
                                                거리)</span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/tour/facil04.jpg"
                                            alt="주변관광지사진">
                                        <figcaption>고생대자연사박물관<br><span class="f-sm">차량 40분 소요<span> </span>(20km
                                                거리)</span></figcaption>
                                    </figure>
                                </li>
                            </ul>
                            <h3 class="h3-2">기타 관광지</h3>
                            <ul class="ul-list type-2 cf">
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/tour/etc01.jpg"
                                            alt="주변관광지사진">
                                        <figcaption>정선5일장<br><span class="f-sm">차량 20분 소요<span> </span>(28km 거리)</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/tour/etc02.jpg"
                                            alt="주변관광지사진">
                                        <figcaption>타임캡슐공원<br><span class="f-sm">차량 35분 소요 <span> </span>(11km
                                                거리)</span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/tour/etc03.jpg"
                                            alt="주변관광지사진">
                                        <figcaption>나리소 전망대<br><span class="f-sm">차량 30분 소요<span> </span>(20km
                                                거리)</span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://design.ebiznetworks.co.kr/lhc/intoraon.co.kr/img/group/tour/etc04.jpg"
                                            alt="주변관광지사진">
                                        <figcaption>아띠엔솔 카페<br><span class="f-sm">차량 41분 소요<span> </span>(11km
                                                거리)</span></figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </section>
                        <section class="qna-sec">
                            <h2 class="h2-tit">단체예약 Q&amp;A</h2>
                            <p class="p0">인투라온호텔 단체예약과 관련한 궁금증을 풀어드립니다.</p>
                            <ul class="qna-list" id="qna-list">
                                <li>
                                    <div class="f-q">
                                        <span class="q-con">Q1.</span>
                                        <p>인원이 1,200명인데 이용 가능한가요?</p>
                                        <span class="ic-bArrow arr"></span>
                                    </div>
                                    <div class="f-a">
                                        <p>
                                            인투라온호텔은 475 객실로, 1,200명 까지 이용 가능합니다.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="f-q">
                                        <span class="q-con">Q2.</span>
                                        <p>기준인원 초과시 추가요금을 지불해야 하나요?</p>
                                        <span class="ic-bArrow arr"></span>
                                    </div>
                                    <div class="f-a">
                                        <p>
                                            단체이용건의 경우, 예상되는 총 인원수를 기준으로 사용할 객실 수를 정하고, 인원추가비가 포함된 이용요금이 책정되므로 별도의 추가요금은
                                            없습니다.<br>
                                            다만, 사전 협의된 인원이 초과된 경우에는, 추가 인원에 대해서 1인당 20,000원(1인, 1박기준)의 비용이 발생합니다.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="f-q">
                                        <span class="q-con">Q3.</span>
                                        <p>단체로 가는데 할인되나요?</p>
                                        <span class="ic-bArrow arr"></span>
                                    </div>
                                    <div class="f-a">
                                        <p>
                                            단체이용 고객님들께는, 더 즐거운 행사가 되도록 더 많은 할인을 제공하고 있습니다.<br>
                                            (이용일, 이용인원에 따라 할인율을 변경될 수 있습니다.)
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="f-q">
                                        <span class="q-con">Q4.</span>
                                        <p>견적서는 언제 받을 수 있나요?</p>
                                        <span class="ic-bArrow arr"></span>
                                    </div>
                                    <div class="f-a">
                                        <p>
                                            단체문의 상담은 1년 365일, 24시간 언제나 가능합니다.<br>
                                            다만, 견적서는 문서화 작업이 필요하므로, 접수(또는 전화문의)일 기준으로, 다음날 17시 까지는 수신가능합니다. (메일 또는
                                            팩스)<br>
                                            토요일 또는 공휴일전날 접수건은 다음 영업일 17시까지는 견적서를 받으실 수 있습니다.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="f-q">
                                        <span class="q-con">Q5.</span>
                                        <p>단체 이용시에도 체크인,체크아웃이 시간이 정해져 있나요?</p>
                                        <span class="ic-bArrow arr"></span>
                                    </div>
                                    <div class="f-a">
                                        <p>
                                            단체 이용에 불편함이 없도록, 행사일정에 따른 입퇴실 시간 변경이 가능합니다.(사전협의 필요)
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="f-q">
                                        <span class="q-con">Q6.</span>
                                        <p>단체이용은 숙박만 해당하나요?</p>
                                        <span class="ic-bArrow arr"></span>
                                    </div>
                                    <div class="f-a">
                                        <p>
                                            아닙니다. 레스토랑, 컨퍼런스룸, 세미나룸 등 다양한 부대시설을 보유중이고, 어떤 행사에든 최적화된 공간과 기구를 제공하고 있습니다.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="f-q">
                                        <span class="q-con">Q7.</span>
                                        <p>레스토랑 시설도 있나요?</p>
                                        <span class="ic-bArrow arr"></span>
                                    </div>
                                    <div class="f-a">
                                        <p>
                                            네.있습니다. 신선한 재료를 사용한 다양한 레스토랑 메뉴를 제공해 드리고 있습니다.(사전협의 필요)<br>
                                            아울러, 맛과 풍미는 물론 단체인원을 수용이 가능한 넓은 공간을 자랑하고 있습니다.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </section>
                        <section class="etc-sec" id="etc-sec">
                            <div class="d-box-1 d-cm">
                                <p class="p-0">인투라온호텔이 행복과 즐거움을 책임집니다.</p>
                                <p class="p-1 c-orange">단체여행 20년 경력의 특급여행플래너가 최적의 플랜을 제시해 드립니다.</p>
                                <p class="p-1">모든 것이 완벽한 인투라온호텔에서 아름다운 추억을 만들어보세요!</p>
                                <p class="p-1 c-red mt-0">
                                    인투라온호텔은 475객실의 대형호텔이며 1,200명까지 동시 이용이 가능합니다.
                                </p>
                                <div class="contact-pop type-2" id="contact-pop" style="z-index: 0;">
                                    <div class="d-top i-chk-bef">
                                        <span class="s-1">은 </span>필수 입력 사항입니다.
                                    </div>
                                    <ul class="ul-tb nece">
                                        <li class="li-tr">
                                            <span class="s-lbl i-chk-aft">예약자</span>
                                            <input type="text" class="wd-1" name="name" maxlength="40">
                                            <hr class="show-smxs">
                                            <span class="s-lbl i-chk-aft ml-1">연락처</span>
                                            <input type="text" class="wd-2" name="tel1"
                                                onkeyup="util.checktype('number','tel1'); util.checknum('tel1', 'tel2','2');"
                                                maxlength="3">
                                            <span class="mg-"></span>
                                            <input type="text" class="wd-2" name="tel2"
                                                onkeyup="util.checktype('number','tel2'); util.checknum('tel2', 'tel3','3');"
                                                maxlength="4">
                                            <span class="mg-"></span>
                                            <input type="text" class="wd-2" name="tel3"
                                                onkeyup="util.checktype('number','tel3'); util.checknum('tel3', 'email','3');"
                                                maxlength="4">
                                            <div class="show-smxs"></div>
                                        </li>
                                        <li class="li-tr">
                                            <span class="s-lbl i-chk-aft">이메일</span>
                                            <input type="text" class="wd-3" name="email">
                                        </li>
                                    </ul>
                                    <ul class="ul-tb">
                                        <li class="li-tr">
                                            <span class="s-lbl">단체명</span>
                                            <input type="text" class="wd-1" name="d_name">
                                            <hr class="show-smxs">
                                            <span class="s-lbl ml-1">행사분류</span>
                                            <select name="h_gubun" id="h_gubun" class="wd-1 wd-1-2">
                                                <option value="수련회">수련회</option>
                                                <option value="워크샵/오티">워크샵/오티</option>
                                                <option value="세미나/단체행사">세미나/단체행사</option>
                                                <option value="학술모임">학술모임</option>
                                                <option value="각종잔치">각종잔치</option>
                                                <option value="기타">기타</option>
                                            </select>
                                        </li>
                                        <li class="li-tr">
                                            <span class="s-lbl">이용일</span>
                                            <input type="text" class="wd-4 sdate hasDatepicker" name="date"
                                                placeholder="체크인" readonly="">
                                            <select name="day" id="day" class="wd-1 wd-1-2">
                                                <option value="당일">당일</option>
                                                <option value="1박2일" selected="">1박 2일</option>
                                                <option value="2박3일">2박 3일</option>
                                                <option value="3박4일">3박 4일</option>
                                                <option value="4박5일">4박 5일</option>
                                                <option value="5박이상">5박 이상</option>
                                            </select>
                                        </li>
                                        <li class="li-tr">
                                            <span class="s-lbl">인원</span>
                                            <span class="s-txt">남자</span>
                                            <input type="text" class="wd-5" name="person_man"
                                                onkeyup="util.checktype('number','person_man'); n_sum();"><span>명</span>
                                            <span class="s-txt">여자</span>
                                            <input type="text" class="wd-5" name="person_her"
                                                onkeyup="util.checktype('number','person_her'); n_sum();"><span>명</span>
                                            <span class="mg-l"></span>
                                            <span class="s-txt">총 인원</span>
                                            <input type="text" class="wd-6" name="person_all" value="0"
                                                disabled=""><span>명</span>
                                        </li>
                                        <li class="li-tr">
                                            <span class="s-lbl">예산</span>
                                            <input type="text" class="wd-7" name="ex_price" onchange="getNumber(this);"
                                                onkeyup="getNumber(this);" style="text-align:right;"><span>원</span>

                                            <p class="p-1 c-lightred">※ 고객님이 제시한 예산범위내에서 최적의 플랜을 제시해 드리겠습니다.</p>
                                        </li>
                                        <li class="li-tr">
                                            <span class="s-lbl ver-t">기타요청</span>
                                            <textarea name="content" id="" cols="30" rows="10" class="wd-8"></textarea>
                                        </li>
                                    </ul>
                                </div>

                                <p class="area-btn"><a class="a-btn" href="javascript:form_check();">단체 문의하기 <span
                                            class="ic-rArrow"></span></a></p>
                            </div>
                            <hr>
                            <div class="d-box-2 d-cm">
                                <p class="p-0 c-orange">단체 행사 문의에 대한 빠른 상담이 필요하신가요?</p>
                                <p class="p-1">단체 예약 전용 번호로 연락 주시면 담당자가 빠르게 안내해 드리겠습니다. </p>
                                <p class="area-btn02"><a href="tel:010-9544-8281" class="a-btn"><span
                                            class="pic-call">☎</span> <span class="num">010-3066-4665</span> <span
                                            class="txt">(주중/주말 06시~02시)</span></a></p>
                                <p class="p-2"><i class="far fa-envelope"></i> jangjaerim@ebiznetworks.co.kr</p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="cf"></div>
        <div class="group-popup">
            <div class="popup-wrap">
                <div class="popup-container">
                    <div class="popup-cust">
                        <p class="f-bd"><span class="fc-yellow">홍길동</span> 고객님!</p>
                        <p>인투라온호텔 방문을 계획해 주셔서 감사합니다.</p>
                        <p class="popup-txt pd-tb">문의사항이 정상 접수 되었습니다.</p>
                        <p class="popup-txt">
                            문의에 대한 답변은 <span class="fc-yellow">2018년 03월 21일 17시</span> 까지 <br>
                            남겨주신 연락처 또는 이메일로 빠르게 안내해 드리겠습니다.
                        </p>
                    </div>
                    <p class="info-txt">
                        단체문의 관련 통화는 1년 365일 언제나 가능합니다.<br>
                        다만, 견적전달은 영업일에만 가능합니다.
                    </p>
                    <a class="btn-close" href="javascript:void(0);" onclick="popupClose('.group-popup');">확 인</a>
                </div>
            </div>
        </div>

        <script>
            $(function () {
                $.fn.datepicker.dates['ko'] = {
                    days: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                    daysShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                    daysMin: ["일", "월", "화", "수", "목", "금", "토"],
                    months: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                    monthsShort: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    today: "Today",
                    clear: "Clear",
                    format: "yyyy-mm-dd",
                    titleFormat: "MM yyyy년",
                    weekStart: 0,
                };
                var opt = {
                    format: 'yyyy-mm-dd',
                    language: 'ko',
                    autoclose: !0,
                    startDate: get_today()
                }
                $('.sdate').datepicker(opt);
                $('#qna-list > li').on('click', function () {
                    var idx = $(this).index();
                    $(this).toggleClass('on').siblings().removeClass('on');
                });
            })

            function faq_move() {
                $('html, body').stop().animate({
                    //scrollTop: $($_anchor.attr('href')).offset().top - 150
                    scrollTop: ($(".etc-sec").offset().top - $('#gnb-header').height() - 25) //150대신 $('#gnb-header').height()-25 으로 적용해주세요!
                }, 800);
                event.preventDefault();
            }
        </script>
    </div>

    @@include('src/template/include/_footer.html')
</body>

</html>