<div class="sub">
    <div class="sub_top_menu">
        <h4 class="page_title">@@title</h4>
        <h6 class="page_sub_title">@@sub_title</h6>
        <ul class="menu_wrap container">
            <!-- 해당 탭 url일 경우, 클래스 active -->
            <li class="menu_item"><a href="/facilities/jade.html">제이드홀</a></li>
            <li class="menu_item"><a href="/facilities/orchid.html">오키드룸</a></li>
            <li class="menu_item"><a href="/facilities/athen.html">아테네가든</a></li>
            <li class="menu_item"><a href="/facilities/lobby.html">로비라운지</a></li>
            <li class="menu_item"><a href="/facilities/fitness.html">휘트니스센터</a></li>
        </ul>
    </div>
</div>